[2017-03-31 18:09] bcoe opened #1 "conventionalcommits.org, a website that introduces people to the concept of conventional commits"
_This post my be somewhat controversial, being Canadian I'm prefacing the whole thing with an apology 🍁_

## What's is conventional-changelog?

The conventional-changelog organization is a set of modules for parsing various flavors of commit message formats (angular, atom, jquery, ...), and performing useful operations based on this meta-information:

* CHANGELOG generation.
* recommended semantic

[2017-03-31 22:38] evocateur commented on #1
I also like the example of http://keepachangelog.com/. I think this would be a great idea for `conventional-commits` + friends.

[2017-04-01 16:32] bcoe commented on #1
I'm looping in @jameswomack as well, who works on [unleash](https://www.npmjs.com/package/unleash); a cool release management tool that also adheres to the angular commit standards.

[2017-04-03 07:39] stevemao opened #3 "A playground page to try out the tools"
It would be good to build a client side tool to test/valid commit message. Users can select a preset in a dropdown list. They also need to input commit message(s). The commit messages could be colour highlighted by the parser. And a preview for the changelog that's generated based the commit messages.

[2017-04-03 17:29] bcoe opened #4 "add section that showcases projects using conventionalcommits"
It would be good to showcase a few projects using conventional commits (yargs and istanbuljs are the ones I work on).

[2017-04-03 17:29] bcoe opened #5 "create new badge for Conventional Commits"
We should provide a badge for people to place on their repos when using conventional commits; we have something for this for standard-version, but we should update it to reflect this new org.

[2017-04-09 01:11] Tapppi commented on #3
I use [`husky`](https://github.com/typicode/husky) & [`validate-commit-msg`](https://github.com/kentcdodds/validate-commit-msg) for this, and they work pretty well.

[2017-04-09 20:48] bcoe commented on #5
done, see README.md.

[2017-04-09 20:48] #5 closed

[2017-04-09 20:49] bcoe commented on #4
Done., would be great to have folks (@stevemao, @Tapppi, @jameswomack, etc) submit a few of their links to good example projects using the convention.

[2017-04-09 20:49] #4 closed

[2017-04-12 23:14] jameswomack opened #8 "Cool badges that are different from others—yet the same"
![committer_badge](https://cloud.githubusercontent.com/assets/77849/24983269/ddd7a8cc-1f9a-11e7-9660-c5747106aa7c.png)

![conventional_badge](https://cloud.githubusercontent.com/assets/77849/24983271/ddd9a30c-1f9a-11e7-9f8c-50ce741c2f5f.png)

![version_badge](https://cloud.githubusercontent.com/assets/77849/24983270/ddd7f8fe-1f9a-11e7-81f5-212e7deb09b6.png)

[badge-source.zip](https://github.com/c

[2017-04-12 23:16] jameswomack commented on #8
The typeface used is Rift Soft. I can make another version with the type converted to outlines if needed.

[2017-04-12 23:35] stevemao commented on #8
Man this is awesome 😃

[2017-04-13 20:16] jameswomack commented on #8
@bcoe are you interested in having a version of one of these be finalized?

[2017-04-13 20:16] jameswomack commented on #4
@bcoe will do

[2017-04-13 21:25] bcoe commented on #8
@jameswomack I really love this 👍 make it so!

[2017-04-15 23:06] bcoe opened #9 "allow BREAKING CHANGE: with any verb."
I think we should amend the specification to allow `BREAKING CHANGE:` with any commit type (right now we indicate that a BREAKING CHANGE should be a fix, or feat).

I'm finding as I drop Node 0.10/0.12 support on some libraries, I have `chore` commits that are breaking.

[2017-04-16 00:38] stevemao commented on #9
Yes, see https://github.com/angular/angular/issues/5672
BTW, dropping Node 0.10/0.12 support should probably be a [`ci`](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#type)

[2017-04-17 22:15] jameswomack commented on #9
@bcoe I agree with this. I think one should try for `BREAKING CHANGE`s to be a `fix` or `feat`, but we need to accept that even dependency changes can be flagged as breaking when one takes stability & semver seriously.

[2017-04-17 22:17] jameswomack commented on #8
![image](https://cloud.githubusercontent.com/assets/77849/25106904/f7db3f56-2380-11e7-8093-eb0027ac42f5.png)

[2017-05-03 18:55] Tapppi commented on #9
@bcoe Agreed, we have lots of precedent both in our own projects and in the community. `standard-version` has a BREAKING chore too (node 0.10/0.12).

[2017-05-04 21:36] jameswomack opened #10 "Language files seem to indicate Spanish (Español / es) rather than English (en)"
Paths like lang/es/index.md have usually referred to Español in my experience. Were these files intended to be placeholders for Spanish?

[2017-05-05 05:12] bcoe commented on #10
@jameswomack yeah, I left this file as a placeholder indicating how we could eventually internationalize -- this is the file structure used by semver.org.

[2017-05-05 21:58] jameswomack commented on #9
I'm closing based on #11 — feel free to re-open as needed.

[2017-05-05 21:58] #9 closed

[2017-05-14 20:59] #1 closed

[2017-05-18 21:42] jameswomack commented on #10
@bcoe got it

[2017-05-18 21:42] #10 closed

[2017-06-23 10:41] koddsson opened #14 "Shorthand for "BREAKING CHANGE:""
Could we add a "BREAK:" shorthand for "BREAKING CHANGE:"?

Reason being if I have a long component there's not a whole lot of space left to write a meaningful description for the CHANGELOG.

[2017-06-26 21:14] koddsson commented on #14
It got pointed out to me on twitter that you put `BREAKING CHANGE:` in the footer to signify a major version.

[2017-06-26 21:14] #14 closed

[2017-06-26 23:00] bcoe commented on #14
@koddsson 👍 I haven't actually played with the footer stanza on my OSS projects (although I'd noticed it discussed in the Angular docs, and made sure to faithfully define its behavior).

Out of curiosity, what tool are you using for CHANGELOG generation, did using the footer work well?

[2017-06-26 23:04] koddsson commented on #14
I'm using `lerna` with the conventional-commits flag. It uses the [conventional-commits-cli](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli) utility under the hood.

I haven't made a breaking change commit yet, but I think it should work :)

[2017-07-01 19:06] AndersDJohnson commented on #3
Also [`cz-cli`](https://github.com/commitizen/cz-cli), though I'm not sure that's what you mean here.

[2017-07-01 23:21] stevemao commented on #3
Sorry I just meant to create a playground page with nice UI to try out these cool tools :)

[2017-07-21 18:52] unional opened #16 "How about non issue commit?"
e.g commits for version bump, update dependencies, update readme etc?

Should they also consider as `fix`?

[2017-07-21 22:25] stevemao commented on #16
`chore`

`docs`

Its not mentioned here?

[2017-07-21 23:34] unional commented on #16
I see.

I have created a PR, IMO put it on the list make it easier to follow, as people would look for all types in the same section. 🌷

[2017-08-02 23:05] jameswomack commented on #16
Echoing @stevemao, [Unleash](https://github.com/netflix/unleash) creates a [commit](https://github.com/Netflix/unleash/commit/d0d89ca7046cc0f33359e53fc78f2c22e1b6b827) with the format `chore(release): <insert release name here> <insert semantic version here>` for releases, e.g. `chore(release): release 1.6.1`.

I've always used `chore` with a tag for those sorts of tasks because that's what the An

[2017-10-02 13:00] daKmoR commented on #16
hmm a release is actually something big right?
so why is it not
`RELEASE: 1.2.3`  ?
`chore(release): 1.2.3`  seems pretty small in comparison?

[2017-10-02 23:10] stevemao commented on #16
@daKmoR I don't think I understand your question?

`chore(release): 1.2.3` is a great message for release. However for monorepo, since there's no single version, I use `chore(release): publish` (https://github.com/conventional-changelog/conventional-changelog/blob/master/package.json)

[2017-11-05 19:18] goodmind opened #22 "Rename scope"
What commit message should be if I rename/move file into other scope?

[2017-11-05 23:10] stevemao commented on #22
I think you can include 2 scopes EG:

[code]

[2017-11-06 00:10] goodmind commented on #22
Well, commitizen can't do something like this :(

[2017-11-06 03:22] stevemao commented on #22
I think you just need to type `scope1,scope2` as your scope

[2017-11-08 13:32] lassediercks opened #23 "contribution setup missing"
I'd like to contribute a styling improvement to the project.

To make sure what I did is rendered correctly I'd like to run it locally before submitting a pull request.

I'm unable to find local setup steps in the readme.

------

Purpose of this issue is to document the problem

------

issue can be closed if the problem is solved or if there is a decision to not take care of this

[2017-11-11 11:47] #16 closed

[2017-11-20 14:07] zanona commented on #16
Hey guys,
I have noticed that Angular convention no longer mentions about `chore`, it seems `refactor` would be the one being used in its place? and yet many places still use `chore`.
I know this is all optional and depends on personal/team opinion, but do you guys know why has it been replaced/disappeared and what is the best way to still tag trivial updates, like text changes in websites, or som

[2017-11-23 06:28] dijonkitchen opened #24 "Case of commit messages"
Why does the spec have lowercase as the default? I figure as a title for a commit, it'd be uppercase.

Reference:
http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html

[2017-11-23 22:56] stevemao commented on #24
It was defined by the angular convention spec.

[2017-11-27 17:59] dijonkitchen commented on #24
I looked at the [Angular commit spec](https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit#)  but couldn't find a reason why though. The only thing I could guess would be that it's easier to parse, but lowercase looks off as the start of all the Subject lines.

[2017-11-28 01:25] stevemao commented on #24
I guess it's just easy to type. no particular reason. But good to have consistency.

[2017-12-05 23:12] AoDev opened #26 "About the meanings of "feat""
Hello, I am not sure it's the right repo for this. If it is not, please let me know.
I wish to understand better the semantics of "feat".

Regarding the "feat" keyword. I have trouble with it depending on the perspective.

There are two points of view: the _product perspective_ vs _development perspective_.

Let's say a dev introduces a new cool reusable UI component.
- From a dev point of view, t

[2017-12-06 08:15] AoDev commented on #26
I am not too sure about using build, ci or chore for "unexposed /dev features". But, if feat is meant to be for product level only, then should we reflect this in the definition?

feat: a commit of the type feat introduces a new feature ~to the codebase~ __for the end-users of your product / library__ (this correlates with MINOR in semantic versioning).

[2017-12-06 22:31] stevemao commented on #26
It is, indeed, a bit ambiguous about what `feat` actually means.

I agree. And I believe this was the original purpose too. Even with the angular team they are not writing the perfect commit messages.

[2017-12-08 15:32] AoDev commented on #26
@stevemao How should we proceed? I think it would be nice to update the meaning on the website.

In practice what I am doing right now in my repos is:

- feat is both "internal dev feature" and "product feature"
- changelog is created with standard-version
- changelog has both product and dev features.
- github release (connected to zappier for product people) gets an edited version of the changel

[2017-12-25 01:59] damianopetrungaro opened #28 "Create a more clear senteses and remove all references to git workflow from the specs"
Hello!
I'm having trouble understanding what you actually want to communicate with some sentences, for example:
"As an open-source maintainer, squash feature branches onto master and write a standardized commit message while doing so.".

I would like also to remove all reference to methodologies and workflow for git from the specs  (except the FAQ section), because i would like to see (and use) a

[2018-01-13 19:05] about-code commented on #26
I would prefer to see something like `enhance` to classify *enhancements*.

I would argue that development features could be classified as enhancements. IMHO an enhancement classifier would help to bridge the gap between *fix* and *feature*. E.g. a *fix* indicates that there must have been a bug before. A *feature* indicates that there is some added functionality or business value.  But often I fi

[2018-01-13 19:15] damianopetrungaro commented on #28
Ping

[2018-01-20 05:13] doodlewind opened #30 "Inconsistency in types"
Two minor confusion points in commit types:

1. In [spec](https://conventionalcommits.org/#conventional-commits-specification), the `type` field is specified as a **verb**, whereas `feat` itself is a noun, and so does `chore`, `style`, `perf`, etc.
2. In [summary](https://conventionalcommits.org/#summary), the types are exampled with colon, e.g.`fix:`, `feat:`, while its definition is `<type>[opti

[2018-01-20 15:07] damianopetrungaro commented on #30
About the 2 you are not excluding the colon from the type, just moving it at the end of type+scope definition.

About the one i agree, we can also think about the difference between `feat` and `improve`, and rename them so that they may be more explicit.

For example in my company we are using conventional commits, and sometimes we have some issue about `feat` meaning. `improve` may fit better the

[2018-01-20 15:11] damianopetrungaro commented on #30
I think it's related also to #28. We can change in a more explicit and clear way.

[2018-01-22 03:15] stevemao commented on #30
It's definitely a noun not a verb. PR welcome.

I don't really understand this and it seems correct to me. Maybe @damianopetrungaro got the point.

[2018-01-22 03:44] doodlewind commented on #30
@stevemao the formal definition is `<type>[optional scope]:`, so I guess `feat` is a valid type while `feat:` may not? See also [json spec](http://json.org/), its `pair` consists of `string : value`, so in a captious way, `string` is valid instead of `string:`.

[2018-01-22 04:17] stevemao commented on #30
`feat` is a type, `:` is just a separator. when the `scope` is omitted, it looks like `feat: short description`. Its the same as `feat(): short description` or `feat(*): short description`

[2018-01-22 04:21] stevemao commented on #30
I've seen all three forms in the angular project. Maybe we should recommend one of them? cc @bcoe

[2018-01-22 09:06] damianopetrungaro commented on #30
@stevemao and @doodlewind  wdyt about split `feat` in `improve` and another verb for `add a feature` (@doodlewind any suggestion?)

So that we have both the use cases separated and well defined?

[2018-01-22 23:45] stevemao commented on #30
@damianopetrungaro I'm open to suggestions on that. The angular convention was designed for non monorepos and `feat` was just meant to be for end users. In a monorepo this could be confusing.

[2018-01-26 16:30] dijonkitchen commented on #24
I figure the best practice if we're setting a standard is capitalized.

For example:
[code]

[2018-02-03 06:54] #30 closed

[2018-02-10 14:55] elypter opened #34 "conventionalcommit indicator"
for machine readability and to differentiate normal commit messages from conventional commits i suggest that there should be one or more characters at the beginning of the line to indicate a conventional commit.

example:

$fix(gui):spelling error in settings wnidow

[2018-02-11 22:09] stevemao commented on #34
Can you elaborate?

[2018-02-12 01:26] elypter commented on #34
the point of a leading character is that it makes conventionalcommits easy to identify for tools and also for users. everyone who has seen one before immediately recognizes it and doesnt have to ponder if the commits just use a similar syntax by accident. it also helps to avoid conflicts if a commit of a project that doesnt support conventional commits just happens to have a commit with a valid sy

[2018-02-12 22:15] stevemao commented on #34
Which tools are you talking about specifically? Have you tried https://github.com/conventional-changelog/conventional-commits-detector?

[2018-02-13 01:35] elypter commented on #34
oh, i didnt know this tool. thanks

[2018-02-13 04:41] stevemao commented on #34
It's Ok :)

[2018-02-13 04:41] #34 closed

[2018-02-21 13:14] doodlewind opened #35 "Best practice handling overlapped types"
By default the `feat` and `fix` types are orthogonal. If we define multi types, say, `test` and `doc`, how to decide the type when committing a change that:

* Fixes a typo - `fix`
* The typo is in doc - `doc`
* The doc describes unit tests - `test`

Shall we allow multi types in commit message, or provide suggestion choosing types?

[2018-02-21 22:31] stevemao commented on #35
say if you fix a typo of a var name or a comment in the code, it's `refactor`. Fix is for bug fixes.

If this has nothing to do with the tests themselves, it should just be `docs`

[2018-02-22 03:20] doodlewind commented on #35
Thanks for your suggestion, while since such change may also belong to `chore`, the way choosing types seems to be a bit vague?

[2018-02-23 04:51] stevemao commented on #35
`chore` was supported to be changing a `build` or `ci` script. Like changing your gulpfile should be a `chore`.

[2018-03-16 17:56] bcoe commented on #24
@stevemao @dijonkitchen joining this conversation late ... could we make our default parser for conventional commit messages not care about case? seems like it's not something worth being opinionated about.

[2018-03-16 18:05] dijonkitchen commented on #24
Sure, that makes sense to me! Though I think uppercase looks better for readability, the parser for the changelog should be agnostic!

[2018-03-18 23:16] stevemao commented on #24
I'm not opposing anyone here :) I see more people typing lower cased sentences in the commit messages in general. Also I've always wanted tools like conventional-changelog auto capitalise the first letter in a sentence.

[2018-03-21 09:58] damianopetrungaro opened #37 "Explain differences between Body and Footer content"
I would like to propose an explicit difference in Body and Footer section.
The footer should only contain info as BC, external links.

The body should only to explain what and why changed (more like a Product Manager perspective).

[2018-03-21 17:39] akaguny opened #38 "What about work in progress commits"
examle:
i'm work on feature and dont know my code is correct or no, but i must go home.
i will push a commit becouse i don't whant to miss my work. But i now that i will work on this code another time. Maybe i will need more then one ore two commits while create finish commit with end fix or feature or another one, now i create chore commit, but maybe add some wip type of the commit or another poi

[2018-03-21 20:14] damianopetrungaro commented on #38
WIP commits does not have any sense to be written in a proper way imho, they will be squashed after your feature branch will be finished.

[2018-03-22 22:11] stevemao commented on #37
That should be correct. PR welcome :)

[2018-03-23 01:14] #38 closed

[2018-03-23 13:49] damianopetrungaro commented on #37
@stevemao  PR ready, please review it.

[2018-04-09 19:55] patcon opened #40 "Lead with an example on website"
The website currently has nothing above the fold that helps someone quickly know how to confirm. The spec is really rad an specific, but I feel that when a [PR fails due to not conforming](https://github.com/chaijs/chaijs.github.io/pull/169), it would be a really great experience if I went straight to the website and felt like "ooooooh, I get it!" The the template-speak is helpful, a prominent exa

[2018-04-09 19:58] damianopetrungaro commented on #40
Issue #21 is going to add some example.

[2018-04-09 20:02] patcon opened #41 "Discuss optional role of emoji in spec"
See: https://medium.com/walmartlabs/semantic-commit-messages-with-emojis-dba2541cea9a

I seem to recall there being a great tool that I found used in the vuejs community, that made commit message and changelogs more automated, and made use of well-thought-out emoji. I'll try to dig it up later :)

[2018-04-09 20:03] patcon commented on #41
Ah, yeah, at the bottom of article:
https://github.com/dannyfritz/commit-message-emoji
https://gitmoji.carloscuesta.me/

[2018-04-09 20:17] patcon commented on #40
Ah, sorry, skimmed issues, but forget to check open PR. Thanks @damianopetrungaro!

[2018-04-09 20:17] #40 closed

[2018-04-09 20:24] patcon opened #42 "Discussion: Address verb tense in spec"
Reticketed from: https://github.com/conventional-changelog/conventionalcommits.org/pull/21#discussion_r175686126

### Resources
- StakeOverflow: [Should I use past or present tense in git commit messages?](https://stackoverflow.com/questions/3580013/should-i-use-past-or-present-tense-in-git-commit-messages/8059167)

[2018-04-09 20:27] damianopetrungaro commented on #42
I prefer using an imperative mood, as described in the linked article [in this slide](https://slides.com/damianopetrungaro/working-with-git#/0/12)

[2018-04-09 20:34] patcon commented on #42
Ditto. Past tense makes for more sensible changelog creation automation imho, so I'd love to recco that

[2018-04-12 17:05] DominicKramer opened #43 "Use a sigil in commit titles for breaking changes"
Currently if a feature, for example, is a breaking change, a commit would look something like the following:
[code]
I am suggesting that the standard also allows the use of a special character, for example `!`, in the title to specify a breaking change.  It is a matter of discussion as to whether the body should still contain `BREAKING CHANGE`.

That is, the above commit could look like the follow

[2018-05-02 21:40] damianopetrungaro commented on #43
Sometimes it may be useful to catching BC on the fly just reading the first chars of the commit message, see that I do not see a real value around this I would like to ask to @stevemao and @bcoe what do you think about this.

btw @DominicKramer you had a nice idea  :)

[2018-05-02 21:42] damianopetrungaro commented on #42
Closing this one due to inactivity :)

[2018-05-02 21:42] #42 closed

[2018-05-02 21:45] damianopetrungaro commented on #22
Closing this one due to inactivity :)

[2018-05-02 21:45] #22 closed

[2018-05-02 21:48] damianopetrungaro commented on #23
@lassediercks did you figure out?
afaik we are using Jekyll, so i think you can run it locally with no effort [reading the doc]((https://jekyllrb.com/docs/home/))

[2018-05-02 21:51] damianopetrungaro commented on #26
We did it some days ago :D #25 !

Thanks to @about-code  and @AoDev for the great idea!

[2018-05-02 21:51] #26 closed

[2018-05-02 21:52] damianopetrungaro commented on #24
I prefer lowercase too, do we need something for this?

[2018-05-05 06:52] about-code commented on #26
@damianopetrungaro Thanks to you for writing it into the spec!

[2018-05-11 21:25] #37 closed

[2018-05-11 22:16] damianopetrungaro opened #46 "Update translations to 1.0.0-beta.2"
Hey beautiful people! We are slowly moving forward, but we are doing it!

We bumped up the version to:
### **1.0.0-beta.2**! 🎉

We need to update the current translations and we need your help!
@Morishiri and @doodlewind  could you please help us? (or tag someone who may do it)
I will update the Italian translations cause I did it 😄

Thank you for your contributions!

[2018-05-11 22:17] damianopetrungaro commented on #3
@stevemao  any news for this?

[2018-05-11 22:18] damianopetrungaro commented on #23
@lassediercks  I just added a docker-compose.yml for build the website locally 😄

Could you please add some doc for it?
Let me know if you need help with the setup (but is pretty basic)?

[2018-05-11 22:18] damianopetrungaro commented on #28
@bcoe  @stevemao

[2018-05-11 22:26] damianopetrungaro commented on #46
- [ ]  Italian translation @damianopetrungaro
- [ ] Polish translation @Morishiri
- [ ] Chinese translation @doodlewind

[2018-05-11 22:27] damianopetrungaro opened #47 "Add continuous deployment"
Add automagic deployment when rebase-merging master

[2018-05-13 08:37] Morishiri commented on #46
@damianopetrungaro here it is :)

[2018-05-14 03:08] damianopetrungaro commented on #46
@Morishiri wow! Super fast! Thank you!

[2018-05-14 14:07] damianopetrungaro commented on #46
Italian merged too!
Missing only @doodlewind with Chinese 😄

[2018-05-15 01:53] doodlewind commented on #46
@damianopetrungaro landed now :-)

[2018-05-15 02:32] damianopetrungaro commented on #46
@doodlewind I added the auto-deploy on heroku, let's see if it's working :D

[2018-05-15 02:33] #46 closed

[2018-05-15 02:35] damianopetrungaro commented on #47
Added auto-deploy when merging on master!

[2018-05-15 02:35] #47 closed

[2018-05-17 23:07] stevemao commented on #3
@damianopetrungaro Unfortunately I'm not working on conventional-changelog anymore. But if anyone is interested please go ahead! 😄

[2018-05-18 21:02] damianopetrungaro commented on #35
@doodlewind  can we close this one or do you need other info?

[2018-05-18 21:03] damianopetrungaro commented on #3
@stevemao let's close this for the moment in inactive since `Jul 1, 2017`
Feel free to open again if you want to.

[2018-05-18 21:03] #3 closed

[2018-05-18 21:05] damianopetrungaro commented on #8
@jameswomack  any update?

[2018-05-18 23:40] #35 closed

[2018-05-24 16:38] #28 closed

[2018-05-24 18:02] damianopetrungaro opened #58 "Reword some sentences to generic purpose"
Reading the specs I noticed that we seem to refer it only to open-source maintainers.

I thought that rewording some sentences to generic purpose will allow us to be open to all the kind of codebase.

For example:
`As an open-source maintainer...` should be `As a commitizen...`

`...to the consumers of your library:` should be `...to the consumers of your codebase:`

`...that an open-source mainta

[2018-06-21 15:00] kosssi opened #61 "Why `docs` ? The `s` is too much, no ?"
I don't understand why only `docs` have `s`. Have you references/links ?

[2018-06-25 17:38] damianopetrungaro commented on #58
Solved by #60

[2018-06-25 17:38] #58 closed

[2018-06-28 13:36] damianopetrungaro commented on #61
Hey!
Thank you for the question @kosssi !
Actually, I don't know if there's a proper way in English to say that.

But if you're right we need to update the documentation for sure!
@bcoe you are an English native speaker, what do you think about it?

[2018-06-28 13:38] damianopetrungaro commented on #43
I'll ping @hbetts too for this.

Sorry for the slow iteration @DominicKramer  but I'm having super busy days.

[2018-06-28 13:40] damianopetrungaro commented on #23
🏓 @lassediercks

Let me know if you can't handle it 😄
I'll do it for you

[2018-06-28 14:38] lassediercks commented on #23
yeah sorry,

I figured it out but didn't took the time to add the docu

[2018-06-28 15:01] damianopetrungaro commented on #23
Can you add it now if you want 😄
PR welcome to join the contributors family 😄

[2018-07-04 15:05] kudos commented on #61
As a native speaker, I find `docs` to be the more natural shorthand.

In English, `doc` is short for document, both noun and verb. To help with disambiguation the shorthand `docs` is typically used for documentation. It doesn't imply a plurality of changes like it would do with `fix` or `feat`, it implies the area the change is affecting.

[2018-07-04 15:09] damianopetrungaro commented on #61
🇮🇪He's from Ireland, he's right 😂

@kosssi is it fine for you the explanation or you do think it may be still discussed?

[2018-07-05 15:39] kosssi commented on #61
it's good explanation, thanks 👍

[2018-07-05 15:55] damianopetrungaro commented on #61
Perfect!
Thank you @kosssi  for asking about your doubt and to @kudos  for explaining it to us 😄

Closing this baby!

[2018-07-05 15:55] #61 closed

[2018-07-06 02:51] apetro commented on #43
I agree that it would be helpful for the breakingness of a change to be apparent from the title of the commit message, rather than only signaled in the body or footer. As @DominicKramer notes, there are contexts in which only the title and not the body of a commit message is visible.

For changes that are breaking, the breakingness of the change might be the most important thing to say about the c

[2018-07-09 03:17] apetro commented on #43
[Blogged about desirability signalling API-breakingness of Conventional Commit messages in _title_](https://apereo.github.io/2018/07/07/indicate-breaks-in-conventional-commit-titles/) rather than just in _body_ or _footer_.

[2018-07-09 05:46] ChristianMurphy commented on #43
I like the succinctness of the `!` sigil. :+1:
It also looks like the meaning should carry over well to non English languages.
English, Spanish, Italian, Polish, and Chinese (the five current translations of conventional commits) all use the exclamation mark in a similar way.

That could also be succinct, but to me sees less intuitive as `!`.
There would also be significant on the impact on existi

[2018-07-09 07:31] htchaan opened #66 "Is there an abbr for `improvement`?"
Since `improvement`(11 chars) is even longer than `feature` (7 chars), which is shortened as `feat`.

[2018-07-09 08:10] damianopetrungaro commented on #66
Hey @htchaan thank you for the question!

I think it's quite long too, but at the moment there's no abbreviation for `improvement`, if you have a good idea feel free to suggest and discuss here in the issue!

Good ideas are always welcome 😄

[2018-07-09 08:19] damianopetrungaro commented on #43
I think that the `!` may be a good one.

About `ALL-CAPS` i really disagree, it doesn't make anything explicit and may add more cognitive load and this is not good.

Adding the `BREAK:` as first thing of the commit message, will be really explicit but on the other hand, it will use a lot of chars and tools that may split by `:` the commit message won't be very happy 😄

@bcoe @stevemao @hbetts this

[2018-07-16 12:35] pmackay commented on #66
Would `improve` be an improvement on `improvement`? ;)

[2018-07-16 17:53] damianopetrungaro commented on #43
🏓 @bcoe @stevemao @hbetts

[2018-07-16 20:00] damianopetrungaro commented on #8
Going to close this one and open a new one with other samples due to inactivity.

[2018-07-16 20:00] #8 closed

[2018-07-16 20:06] damianopetrungaro opened #67 "conventionalcommits badges"
Let's vote for some badges 😄
Which one do you prefer?

![conventional-commits](https://img.shields.io/badge/conventional--commits-friendly-brightgreen.svg)
![conventional-commits](https://img.shields.io/badge/conventional--commits-supporter-brightgreen.svg)
![conventional-commits](https://img.shields.io/badge/conventional--commits-lover-brightgreen.svg)

Feel free to suggest new one using this ->

[2018-07-16 20:06] damianopetrungaro commented on #67
@conventional-changelog/conventional-chalengelog and @conventional-changelog/standard-version

[2018-07-16 20:51] hbetts commented on #43
I'm ambivalent about this change.

That seems like something that could, or should, be improved by those tools. Why aren't they recognizing a long-standing convention used by developers to mark breaking changes?

Not sure how that would work for character based languages (such as Simplified Chinese). (An issue apparently already mentioned by @ChristianMurphy )

I agree with that statement. On a pe

[2018-07-16 21:02] hbetts commented on #43
I filed a support request with GitLab to see what they think of the idea of using the existing `BREAKING CHANGE:` convention - https://gitlab.com/gitlab-org/gitlab-ce/issues/49305

[2018-07-16 21:04] hbetts commented on #67
What problem(s) do these badges solve that isn't solved by the badge found at the bottom of - https://conventionalcommits.org/

[2018-07-16 21:16] hbetts commented on #24
My two cents:
* Parser should not care.
* Capitalization should be enforceable per-project through `commitlint`.
* Format of changelogs should be opinionated/consistent.
* `commitlint` defaults should align with default of Conventional Commits.

As for whether the type, and first word of the summary, should be capitalized, I have no opinion on one way or another. Can someone do a quick grep over G

[2018-07-18 16:40] damianopetrungaro commented on #67
@hbetts  I've seen it 😂
+1 for you 😄

[2018-07-18 16:40] #67 closed

[2018-07-19 08:41] htchaan commented on #66
I vote for `impr`. Its 4-char just like many other abbreviations eg.
`elem`, `feat`, `impl`.

Damiano Petrungaro <notifications@github.com> 於 2018年7月19日週四 上午12:49寫道：

[2018-07-19 08:54] damianopetrungaro commented on #66
@hbetts  @stevemao @bcoe  wdyt about it?

[2018-07-19 16:09] hbetts commented on #66
I didn't realize we recommended `improvement`.

Honestly, if it's a code change, then the only non-feature, non-bug, _improvement_ would be a performance one, and for that you could use the Angular convention of `perf`.

Basically, I'm taking a step back and asking, do we even need _improvement_? What does it communicate that _feat_, _fix_, and _perf_, do not?

[2018-07-21 08:42] pmackay commented on #66
What would a refactoring for code cleanup fit under?

[2018-07-23 07:46] damianopetrungaro commented on #66
Hey!
Sorry but I had a weekend without internet 😄

@hbetts  i suggested some months ago to introduce `improvement`, because `refactor` means it _MUST NOT_ introduce any breaking changes.

Instead `improvement` it's ok with API changes but does not introduce any external BC.

I am totally open to rediscuss it!

[2018-07-25 18:08] zeke opened #70 "idea: rename the org and adopt more projects"
I don't know the origin story of the @conventional-changelog GitHub org nor am I an owner of it, but I have an idea.

It seems to me that the addition of the `conventionalcommits.org` repository to this org changes the org's purpose in a way: It's now the home of the Conventional Commits spec. As such, I think renaming the org to @conventional-commits would be appropriate. The changelog tools shou

[2018-07-25 21:31] olstenlarck commented on #70
Thanks for pinging me :)

Yea, i was thinking for good org name last months, since i stopped using `semantic-release` for obvious reasons back than, but anyway (now it looks good, it was in the fall/winter). Another reason now is that it changed the purpose a bit to be "more general purpose automation" for every lang and etc. Okey, great. :)

Since then, i started creating many small utilities and

[2018-08-05 22:39] hbetts commented on #66
I think I've used `refactor` in the past for breaking changes.

For example, I will _deprecate_ a function as part of a `patch`, but I won't remove it.

Then, at a later time, I will remove that function in a `refactor`, with a `BREAKING CHANGE` comment at the bottom of my commit message, explaining the removal, and the recommended migration path. I use `refactor` because I'm not adding a feature,

[2018-08-06 07:45] damianopetrungaro commented on #66
@hbetts I'm totally fine about talking about it, our mission is to make the specs as better as possible 😄

As you can see I do not agree with the usage of `refactor` with a `BREAKING CHANGE:` into it, it's a contradiction imho 😄

___

Looking forward to any English native speaker about it

[2018-08-06 17:54] kentcdodds commented on #70
I'm fine with whatever. I don't really do much with this project anymore myself :-/

[2018-08-06 17:59] zeke commented on #70
Pinging @nexdrew to get some more org owners into the conversation.

How do folks feel about renaming this org to `conventional-commits` as a starting point?

From there, I can create a new `welcome` repo with a README that gives an overview of the intent, the spec, and the modules within the org.

[2018-08-06 19:38] damianopetrungaro commented on #70
Sorry @zeke but I  just realized right now you opened an issue 😄
IMHO it's a good idea once we'll get more tools and repositories related to this topic, but, as always, I am totally open to discussing it with all of you 😄

___
@conventional-changelog/org I just own the `conventional-commits` and `conventionalcommits` orgs on Github, so we'll be sure to do it easier in the future 😄

[2018-08-06 21:03] nexdrew commented on #70
I try to help out when/where I can, but I'm not all that active in this org.

Some of the backstory (as I understand it) is that @stevemao had a bunch of little useful packages based around a primary [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog) one (which was eventually converted to a single Lerna monorepo), and @bcoe and I wrote [standard-version](htt

[2018-08-10 16:48] hbetts commented on #70
As an org member, and regular user of `conventional-changelog` tools/libraries, I am entirely fine with aligning the organization's name with our mission as it has organically evolved over the years.

Here are a few thoughts that come to mind when considering a rename:

- It would be nice to have a mission statement that outlines our goals as an organization, and establishes what is, or is not, in

[2018-08-11 20:54] marionebl commented on #70
I'm pro reframing this org, too. How about moving marionebl/commitlint to this new org?

[2018-08-11 21:46] bcoe commented on #43
@hbetts @damianopetrungaro @DominicKramer I'm so so on this idea too. It means that a bunch of tools in the community would need to rework their parsers to parse types with a `!` differently.

It _would_ be awesome for tools like GitHub and GitLab to start representing semantic information like `BREAKING CHANGE` -- I wonder if @zeke has any thoughts on this, who's been advocating using conventiona

[2018-08-11 22:39] zeke commented on #70
@damianopetrungaro since you're an admin of this org and the owner of the `conventional-commits` org, are you able to handle the rename? If it ends up being complicated we can ask support@github.com to help us. :)

[2018-08-11 22:47] zeke commented on #70
👍

✅

[2018-08-11 23:06] zeke commented on #43
@gr2m introduced me to `semantic-release` about year ago. I was immediately hooked and I've been preaching the semantic gospel ever since. The concept is easy to explain to newcomers until you get to the part about BREAKING CHANGE having to be in the commit "body", which, as many of you have noted, is hidden in many contexts (GitHub, Gitlab, your shell alias for listing one-liner commits)..

I don

[2018-08-12 02:44] zeke opened #71 "`docker-compose up` failing"
I just pulled down the latest and tried `docker-compose up` to get it running, per the current README.

I got this error:

[code]

[code]

See also #23

[2018-08-12 03:29] stevemao commented on #70
Hi guys, I haven’t been working on this for a while. Feel free to contribute. Let me know if you need my help. Cheers!

Sent from my iPhone

[2018-08-12 07:30] damianopetrungaro commented on #43
So I think we can plan to add the `!` as breaking change sigil.

Anyone feel free to open a PR if you have time, I am going on vacation, so I'll be free to work on it when I'll be back 😄

[2018-08-12 07:45] damianopetrungaro commented on #70
Here we go!

🎉🎉🎉*Project in a new org name* 🎉🎉🎉

___
We need a new logo and maybe revamp the UI of the website too, opening new issues for those two ;)

[2018-08-12 07:46] damianopetrungaro commented on #70
Thanks to @bcoe  @kentcdodds  @nexdrew  @olstenlarck  @stevemao  @hbetts   and @zeke for the quick replies and the nice feedback.

[2018-08-12 07:51] damianopetrungaro opened #73 "Add new logo"
@bcoe  @hbetts do you remember who designed the one for `conventional-changelog`?

It would be great having a nice one for this one too.

[2018-08-12 14:56] olstenlarck commented on #70
Thanks too! :)

[2018-08-12 17:04] hbetts commented on #73
@damianopetrungaro, it was @bcoe that designed the original CC logo. Please see https://github.com/conventional-changelog/artwork/issues/2

[2018-08-12 17:07] hbetts opened #74 "Criteria For Migrating conventional-changelog Projects"
What are the criteria for migrating [`conventional-changelog` projects](https://github.com/conventional-changelog) to the new organization?

[2018-08-12 17:07] damianopetrungaro commented on #73
Wow @bcoe  it's a designer too 😛
Let's create an artwork repository when we'll have a logo.

Benjamin let me know if you have some free time, otherwise, I will do it once I'll come back from my vacation 😄

[2018-08-12 17:08] hbetts opened #75 "Pinning Core Projects"
Which projects should we pin to the home page of the `conventional-commits` org?

[2018-08-12 18:25] damianopetrungaro commented on #74
I think that there are no breaking changes after this rename because all the services that are using the linked repository will be redirected to the new one.

But anyway we should update the reference of the repository 😄

- [ ] Update Heroku settings for CD
- [ ] New logo
- [ ] Look for repositories to add to the organization

@hbetts  feel free to add more of them, and @bcoe and @stevemao  you ma

[2018-08-12 18:29] damianopetrungaro commented on #73
@hbetts  what do you think about [this](https://thenounproject.com/search/?q=commit&i=361026)?

[2018-08-12 18:45] hbetts commented on #73
I like the icon.

My only concern is that the background within the lines, and the circle, are transparent. If the background of GitHub, or any other website, is black, the icon will become, effectively, invisible.

If the background for the lines and circle was white, the contrast between black and white would ensure that the icon, to some degree, was visible, regardless of the background color.

[2018-08-12 18:47] damianopetrungaro commented on #74
@bcoe  you are the only owner on the Heroku app, you should edit it 😛

[2018-08-13 02:55] nornagon commented on #43
i'd like to echo the concern that @apetro raised about the `!` sigil being unclear to someone who isn't familiar with the conventions, and in addition, it's hard to google.

Perhaps something like `breaking-feat: [...]` or `breaking: feat: [...]`?

[2018-08-13 05:42] damianopetrungaro commented on #43
@nornagon messages are cut if they are more long 50 chars.

Do you think that it could be worth?

[2018-08-13 21:15] damianopetrungaro commented on #73
@hbetts we can use a background color, this is not a problem 😄

Something like https://thenounproject.com/term/commit/685193 😄

[2018-08-15 19:56] skinny85 opened #76 "Confusing wording on BREAKING CHANGE"
The "Breaking Change" bullet point nr 3 states:

Then, the next bullet point "Others" nr 4 states:

I feel like these two points are contradicting each other.

[2018-08-15 21:28] damianopetrungaro commented on #76
@skinny85 thank you for opening the issue!

If you think they are contradicting each other it means we can find a way to put it in a better way.

I think the main point that may be confusing is that creating your own commit type (`commit types other than fix: and feat: are allowed`) you _MAY_ use `BREAKING CHANGE` in any commit message.

If you want to open a PR to put this in a different way you

[2018-08-15 21:34] #70 closed

[2018-08-15 22:04] hbetts commented on #76
My personal preference would be to remove the reference to `BREAKING CHANGE` from item (4).

I think the bolded line from item (3) is sufficient.

[2018-08-15 22:36] damianopetrungaro commented on #76
@hbetts but in this way `and have no implicit effect in semantic versioning` is "wrong" too.

[2018-08-15 22:41] skinny85 commented on #76
I would just remove `, which is NOT recommended` from bullet nr 4 - that's the source of the contradiction for me.

[2018-08-17 19:07] zeke commented on #70
Yay! Thanks for the renaming the org. I'm assuming it was you, @damianopetrungaro?

I've been traveling this week but I will follow up soon with some PRs on the website.

[2018-08-19 21:35] hbetts commented on #74
@damianopetrungaro I was actually looking for an answer to whether `conventional-changelog` is a good candidate to move into this org? How do I know it's a good candidate for this org? Who needs to approve the repository to be moved into this org?

[2018-08-19 21:41] hbetts commented on #73
@damianopetrungaro I think either is fine :+1:

[2018-08-19 22:11] hutson opened #77 "Write Imperative Present Tense Sentences"
I would like to propose we establish the convention that all sentences in a commit message SHOULD be written in imperative present tense form.

Well-known examples of the imperative present tense form as a requirement:
- https://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html
- https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#subject
- https://git-scm.com/book/en/v2/Di

[2018-08-19 22:16] hbetts commented on #76
@damianopetrungaro thank you for pointing out that line.

In that case I like @skinny85's suggestion.

Can we go with that?

[2018-08-19 22:27] hutson opened #78 "Why Do We Recommend `improvement` As A Type"
Continuing the conversation from - https://github.com/conventional-commits/conventionalcommits.org/issues/66#issuecomment-410618044

Why do we recommend `improvement` as a type, and how is `improvement` _better_ than using other types that signify improvements noticeable to downstream consumers, such as `perf`?

[2018-08-19 22:33] hbetts opened #79 "First Sumary Sentence Seems Out of Place"
The first summary sentence:

[code]

Seems out of place.

I land on the `conventionalcommits` website and the first sentence is talking about squashing commits (something I don't do), but only for features (so what am I supposed to do for other commit types), and only talks about `open-source maintainer`s, which seems to exclude third-party contributors to a project.

Can we just eliminate that se

[2018-08-19 22:35] hbetts commented on #66
I've spun off a discussion about `improvement` into #78

As for this issue, I don't have the time to research whether `impr` is the common abbreviation of `improvement`.

Does anyone else have time?

[2018-08-19 22:37] hutson opened #80 "Consolidate Summary Items With Specification"
I would like to suggest we consolidate the numbered items under the _Summary_ section into the _Conventional Commits Specification_ section.

[2018-08-19 22:40] hbetts commented on #24
To move this forward, should we add an item to the _FAQ_ that acknowledges that any casing may be used?

[2018-08-20 09:12] damianopetrungaro commented on #24
@hbetts Yup, totally agree with it!
@dijonkitchen do you want to work on it?

[2018-08-20 09:15] damianopetrungaro commented on #79
@hbetts yup, totally agree, I already asked about it.
It was partially done with #58 but we need to rephrase this instead of removing it IMHO.

A little summary it's fine to have in place ;)

[2018-08-20 09:16] damianopetrungaro commented on #79
This sentence too sounds strange to me:

[code]

[2018-08-20 09:18] damianopetrungaro commented on #66
@hbetts I can take a look tomorrow ;)

[2018-08-20 10:26] damianopetrungaro opened #81 "Revamp website with new UI"
What do you think about revamping the UI of the website with a new theme (and\or new tool for generating the static website)?

We can make it as cool as [keep a changelog](http://keepachangelog.com/en/1.0.0/) so that more people will read it because it looks good

[2018-08-20 10:31] damianopetrungaro commented on #81
Looking for sth like this: https://themes.gohugo.io/theme/hugo-icon/

[2018-08-20 14:47] dijonkitchen commented on #24
Boom! ☝️

[2018-08-20 15:00] hbetts commented on #81
I have no particular preference for a theme, though I am fine with y'all going with a new theme.

My only request is that the following be taken into consideration:
- The theme should be [web accessible](https://www.w3.org/WAI/fundamentals/accessibility-intro/).
- The tool needed to generate a website from a them should be low friction.
- The theme should emphasize the content of the standard (and

[2018-08-20 16:04] damianopetrungaro commented on #81
Yeah sure, I was thinking to use `hugo` because it has more themes (and it's also faster to compile and reload changes, but this is not a big deal for this project).

Feel free to suggest any theme for any tool you like and of course match what @hbetts  recommend.

[2018-08-20 16:07] #24 closed

[2018-08-20 16:13] robcresswell opened #83 "Capitalisation in examples"
This is minor I suppose, but shouldn't the examples use capitals after the `:`? Given that text is parsed into a `CHANGELOG` and each commit title is supposed to be a standalone sentence, would it make sense to capitalise the first letter of each explanation?

For example, instead of:

[code]

use:

[code]

Then the generated changelogs would use proper grammar, I think?

[2018-08-20 16:14] damianopetrungaro commented on #77
I am totally fine with this!
I use this already as a best practice in all my commit messages, thanks to @apetro to point it out!

If someone wanna work on it for me it's fine.

@conventional-commits/committee  what do you think about it?

[2018-08-20 16:18] damianopetrungaro commented on #83
@robcresswell  thank you for opening the issue!

We just merged a PR about capitalization in the commit type.

I agree with your idea, but think that this should not care about it, because the changelogs tools may do it on the fly while generating it.

We may change #82 to be more generic maybe.

wdyt about it?

[2018-08-20 16:39] robcresswell commented on #83
Ah that's sensible reasoning, to not be opinionated about casing at this level of the spec and leave it up to parsers. Thanks for the feedback; seems like something I should open in the tools themselves :smiley:

[2018-08-20 16:39] #83 closed

[2018-08-20 17:31] dijonkitchen commented on #83
Is there an official parser?

[2018-08-20 17:49] apetro opened #84 "Use imperative present tense verb in example"
While Conventional Commits itself does not specify verb voice and tense for the description, it's common to use imperative, present tense describing what the commit, if applied, does, rather than past tense describing what was done. So adopt this convention in the example, making the commit message example more relatable.

Before:

    ### Commit message with scope
[code]

After:

    ### Commit m

[2018-08-20 19:01] skinny85 commented on #76
@damianopetrungaro sure, I'll try to do a quick PR today or tomorrow.

[2018-08-20 21:59] damianopetrungaro commented on #81
![example](https://user-images.githubusercontent.com/8950503/44368808-65a2f300-a4d4-11e8-82ed-cc6ded140bf8.gif)

Generated using a file [like this](https://gist.github.com/damianopetrungaro/902091136592514750be4f6003f67bbf)

Powered by Hugo and [hugo-theme-sarah](https://github.com/avelino/hugo-theme-sarah)
Of course, I still need to change some colors, links add images etc. etc. but this one look

[2018-08-21 14:07] hbetts commented on #81
It looks fine to me.

[2018-08-21 14:09] damianopetrungaro commented on #81
Please, @conventional-commits/committee gives me a feedback so I will put some effort if all of you are fine with it ;)

[2018-08-21 14:44] hbetts commented on #79
What needs to be rephrased, and how do you see it being rephrased?

[2018-08-21 21:35] damianopetrungaro commented on #81
I got some free time at home and i designed those two things.

If we are going to implement a custom design we need someonw who will write HTML and CSS ( i never wrote it so i need external help)

Feedbacks appriciated:

<img width="882" alt="screen shot 2018-08-21 at 11 31 17 pm" src="https://user-images.githubusercontent.com/8950503/44430408-e0364600-a59a-11e8-8198-af994b9a2f0b.png">

<img width

[2018-08-21 21:41] hbetts commented on #81
For that reason I would prefer if we limited how _much_ customization we do. Unless we can find two or more people that are able and willing to dedicate the time to being our HTML/CSS contributors.

As for the designs in your latest commit, I think they look great. My only suggestion would be to increase the font size so that the text is easier to read.

[2018-08-21 21:44] damianopetrungaro commented on #81
Already done ;)

This will be one very simple page so the effort won't be huge.
If someone is free to spend some time coding it would be great!

[2018-08-21 22:00] damianopetrungaro commented on #81
Found someone who has some free time next week!

@lorenzodianni is the best js developer I have ever known and he uses the conventional commits for months!

He'd be happy to take care of the HTML/CSS page.
And it would be great also having your feedback about the design and the project itself!

[2018-08-21 22:17] zeke commented on #81
Wow really cool to see this design work, @damianopetrungaro 🎨

I haven't used [hugo](https://gohugo.io/), though I know it's popular and active. I wouldn't be opposed to this if you want to take the initiative, @damianopetrungaro 👍

That said, when pondering how I personally would revamp the existing site, I imagined using Node.js (rather than Ruby or Go) and a set of of "[small sharp modules](htt

[2018-08-21 22:37] damianopetrungaro commented on #81
I chose Hugo for the great doc and the super active support.

https://ghub.io/hubdown to convert markdown into GitHub-style HTML
https://ghub.io/github-markdown-css to style that HTML
https://ghub.io/nanohtml to wrap pages in a layout.
The above tools could be used to generate a static site and/or a dynamic server-rendered site.

[2018-08-22 17:07] bcoe commented on #81
@zeke @damianopetrungaro I like the direction we're going in, but I don't love that I need to click a button to start reading the spec, it seems like the page you land on is a bit barren.

Maybe the tldr; description of the specification could be above the fold, and then we dig into it deeper as you scroll down the page.

With this new design, the actual specification itself will still be in markd

[2018-08-22 17:38] damianopetrungaro commented on #81
@bcoe the idea is to scroll and read the spec, what I posted is just the first section the users will see.

It depends if we wanna change it, I already linked an example of how the doc could be changed so.
But if we don't want to move from markdown,  we won't.
The new design will just be a UI improvement.

[2018-08-22 18:27] damianopetrungaro commented on #81
Yup, this is what exactly I am working on 😄

[2018-08-22 18:46] #76 closed

[2018-08-22 18:48] hbetts commented on #75
I pinned this project. Any other projects we want to pin can be suggested through our `meta` project.

[2018-08-22 18:48] #75 closed

[2018-08-22 18:52] hbetts commented on #74
Sounds good @damianopetrungaro.

If we need to define this better, let's move it to our `meta` project.

[2018-08-22 18:52] #74 closed

[2018-08-22 21:58] damianopetrungaro commented on #81
@zeke I've done a small test on how it may look like.

https://github.com/damianopetrungaro/_hugotest
https://github.com/damianopetrungaro/_hugotest/blob/master/content/beta0.0.3/index.md

Quick explanation:

`{{< welcome >}}`
will load the first section (the one with the nice UI linked ⬆️ )

`{{% white-partial %}}...{{% white-partial %}}`
will inject the markdown defined in the two shortcodes in

[2018-08-24 18:55] bcoe commented on #77
I'm a -1 on this one. Even though it seems like this is probably a good habit to be in, I think it goes against the goal of our specification being as simple and flexible as possible if we start prescribing too many rules about how commit messages should be written. tldr; it adds a step without adding much value IMO.

Perhaps we could compromise and add this to the F.A.Q section?

In our redesign

[2018-08-24 19:59] hbetts commented on #77
Making a specification _flexible_ seems like an antithesis of the goal of a specification.

This is definitely how I feel we should be gauging the value of adding an item to the specification.

I'm somewhat on the fence about whether the value outweighs the extra step/recommendation.

I find that the _imperative_ form ensures a commit message description clearly states the change made, which ultim

[2018-08-24 20:30] bcoe commented on #77
Yeah let's start with separate issues, I appreciate the set of eyes, I bet we've drifted a bit from the RFC over time; I was fairly new to this when I hammered out the first draft with @jameswomack.

Fair point, the very act of making a specification is pretty pedantic 😝My major goals drafting the original version of this was to:

1. have a central place to point to for the standard (the documenta

[2018-08-24 21:15] damianopetrungaro commented on #77
@bcoe I agree with you and with @hbett as well.

I think a good compromise would be using the FAQ and in the new UI I can do the section more relevant adding a link on the top of the page.

[2018-08-25 23:46] hutson opened #87 "Application of RFC 2119"
Re-evaluate how we are applying the terminology defined in [RFC 2119](https://tools.ietf.org/html/rfc2119) in the _Conventional Commits_ specification.

Came up in https://github.com/conventional-commits/conventionalcommits.org/issues/77#issuecomment-415851108

[2018-08-25 23:46] hbetts commented on #87
cc @bcoe

[2018-08-26 01:31] Mouvedia opened #88 "What about the revert type?"
There's no mention of it.

cf https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#revert

[2018-08-26 03:41] hbetts commented on #81
Purely my _two cents_ based on my aesthetics preferences:
1. The second color palette looks to washed out.
2. The commit message structure in the _Summary_ section, and the examples in the _Examples_ section need the be more distinguished (They kind of blend in with the surrounding text).
3. The second _Specification_ section needs to be called _FAQ_ or _Frequency Asked Questiones_.
4. Why are the

[2018-08-26 08:28] damianopetrungaro commented on #81
1. If you don't like it we won't use that one  :)
2. I was thinking to use a code block there
3. Yep, my bad
4. One is the default one, the other one the mouse over :)

[2018-08-26 08:44] damianopetrungaro opened #89 "Other commit types should bump up the PATCH version"
I kinda disagree with this:
`Other commit types have no implicit effect in semantic versioning` because if I add a new commit to my project, and I want to release, it should bump up the PATCH version (if it doesn't contain a breaking change).

[2018-08-26 08:56] damianopetrungaro commented on #88
Thank you for opening the issue @Mouvedia .
Good one ;)

*I would like to specify that we do not stick to the angular convention we are just inspired by it.*

Anyway we miss the `revert` type.
IMHO is fine to use the Git default one `Revert "feat: Add birthdate to user model"` because it doesn't add any overhead during the reverting phase and is explicit because it wrap a conventional commit messa

[2018-08-26 09:00] damianopetrungaro commented on #80
@hbetts what do you mean with this?

[2018-08-26 09:07] damianopetrungaro commented on #79
@hbetts

The main issue is that the entire first block seems to be out of context and it's justified only by the last sentence of the entire introduction `that makes it easier to debug issues across project boundaries.`

Anyone who has upgraded to a new patch version of a dependency, only to watch their application start throwing a steady stream of 500 errors, knows how important a readable commit

[2018-08-26 09:10] damianopetrungaro commented on #79
@hbetts  what o you think about
[code]
For the first sentence?

[2018-08-26 09:26] damianopetrungaro commented on #66
So after a little research, I found out we may use [IMPROV](https://www.acronymfinder.com/Improvement-(IMPROV).html) or [IMP](https://en.wiktionary.org/wiki/imp.)

[2018-08-26 09:30] damianopetrungaro commented on #73
I propose the logo used in the new UI here #81

[2018-08-26 09:41] damianopetrungaro opened #90 "Find a strategy to bump up the version"
@conventional-commits/committee we need to find a strategy to implement a proper semantic versioning when we'll release the first version (and it's pretty close).

What I propose is to use an `upcoming` directory where we change the latest specs version and when we decide to release (thanks to the conventional commits) we'll bump up the version and release.

Any other strategy is the welcome 😄

[2018-08-26 12:11] Mouvedia commented on #88
@damianopetrungaro would the commit `"feat(user): Add birthdate"` be the revert of the commit `"feat(user): Remove birthdate"`?

Should the type always match the reverted commit's type? Should the message be identical?

[2018-08-26 12:27] Mouvedia commented on #88
Personally I use the `revert` type for commits which main purpose is a revert of some sort coupled with cleanups related to that revert: I don't use `git revert` in these cases. Most of the times the original commit has some valuable artifacts so I end up wanting to convey that partial revert by using the `revert` type.

e.g. `revert: a6c8e75`

[2018-08-26 12:40] Mouvedia commented on #66
https://en.wikipedia.org/wiki/Imp

[2018-08-26 12:49] damianopetrungaro commented on #88
Yup, I got it, I said my opinion but before adding it to the specs I want also other people from the committee

[2018-08-26 12:56] Mouvedia commented on #78
In short `improvement` covers refactors that are not performance improvements.
e.g. readability, dead code removal (for compiled languages), JSDoc comments

Do you have other examples?

[2018-08-27 14:10] hbetts commented on #80
Items 1 through 4 in the _Summary_ are a duplication of content in the _Specification_ section.

They feel like extra reading without adding any value.

[2018-08-27 14:30] hbetts commented on #88
My two cents would be to simply document what `git` already does. As noted by @damianopetrungaro using `git revert` and keeping it's auto-generated message is easy. Doing anything else just adds friction and a greater chance of not adhering to the convention.

In my experience a revert is always a fix. Even if it the commit _technically_ adds a feature, it's only because the removal of that featur

[2018-08-27 14:40] Mouvedia commented on #88
@hbetts that doesn't answer my current usage of the revert type which is a partial revert using `git commit`. The intent is a revert but granular: https://stackoverflow.com/q/45267653

[2018-08-27 19:55] damianopetrungaro commented on #88
So @hbetts we have to face how to make it standardized also for processes that are not a simply `git revert`.

What do you think about it?

[2018-08-27 20:01] damianopetrungaro commented on #79
@hbetts totally agree, let's reword the first section and let's remove the `introduction`.
Something like this it's fine for me:

[code]

Let me know what do you think, let's see what @bcoe thinks about it, he always find some issues that we miss 😄

[2018-08-27 20:13] damianopetrungaro commented on #80
Let looks good to me, they are a summary of the specs.
What do you suggest?

[2018-08-27 20:14] damianopetrungaro commented on #81
If no one has nothing to add on this I'll ask to @lorenzodianni to start working on CSS and HTML

[2018-08-27 20:19] bcoe commented on #81
@damianopetrungaro I'm really happy with how this is looking.

[2018-08-27 20:49] lorenzodianni commented on #81
Hi to everyone!
@damianopetrungaro send me all info about the new style, i'll work on it asap! 🕺

[2018-08-27 20:51] damianopetrungaro commented on #81
Sure 💪

[2018-08-28 17:40] hbetts commented on #88
Thank you @Mouvedia for the link. I was failing to see that you are reverting only part of a commit and not the entire commit.

So this may come down to semantics for me.

As an example, I have a commit that I introduced a long time ago. Turns out, that commit, which may have introduced a feature, also changed a line of code that, unintentionally, broke existing behavior.

I could do a partial rev

[2018-08-28 17:43] damianopetrungaro commented on #88
yeah, you're right, this is a fix anyway.

[2018-08-28 17:45] damianopetrungaro commented on #79
See #91

[2018-08-28 17:48] Mouvedia commented on #88
Most of the time, it's the other way around: you revert the commit *in the spirit* on its initial message but leave out some artifacts that are worth keeping. Don't throw the baby out with the bathwater.

If it's *mainly* a revert, it's a given that you won't use the revert type.

[2018-08-28 17:54] damianopetrungaro commented on #88
But the point is that when you revert a feature (or a fix) you are creating a `fix` for it.

@hbetts what about other commit types like docs/chore?
They aren't types that should trigger a version update, but anyhow you are reverting a commit.

So they will be just `docs(api): remove users from documented resources` for example.

[2018-08-28 18:38] damianopetrungaro commented on #88
@Mouvedia but `revert` not being part of the specs we may just enforce the usage in the FAQ section.

[2018-08-28 19:04] Mouvedia commented on #78
In short `improvement` covers refactors that are not performance improvements.
e.g. readability, dead code removal (for compiled languages), algorithm replacement
Which means that the `refactor` type will only cover refactors that have a negative or neutral impact.

Would JSDoc comments be covered by `docs`?
What would be the scope of improvement?
Do you have other examples?
Unless we provide a cl

[2018-08-28 19:14] damianopetrungaro commented on #78
@Mouvedia we should NOT depend on external tools to decide about which type use.

See that the specs only support `feat`&`fix` and the usage of improvement is already described in the specs
[code]
what we can do is add an example and add a section to the FAQ.

[2018-08-28 19:21] Mouvedia commented on #78
Recommendations should not conflict with existing conventions that's all I am saying or it should cover perfectly the existing ones. If the lines are blurred it would introduce uncertainty and that's not desired.

[2018-08-28 21:40] damianopetrungaro commented on #73
See that no one disagree, I am going to use this logo.

Feel free to open again if you have any comment!
(This is the same the new website UI will integrate too)

[2018-08-28 21:40] #73 closed

[2018-08-30 21:02] #84 closed

[2018-09-04 04:47] damianopetrungaro commented on #81
Thanks to the great effort and the great work that @lorenzodianni put into it, we are proud to announce the first demo of the UI revamp!

https://conventional-commits-test.netlify.com/en/v1.0.0-beta.2/

@hbetts  @zeke @bcoe
There are still a couple of things to optimize (like the redirects and the anchor link to the specs), but this will be super close to the final version!
Any feedback is welcome

[2018-09-04 04:54] damianopetrungaro commented on #81
FYI:
We'll have for free (0 configurations and 0$) CD on Pull Request thanks to [netlify](http://netlify.com/)

[2018-09-04 14:17] hbetts commented on #81
Three things I came across:

First, the drop-down for _Versions_  is really difficult for me to use. Hovering over a version for more than a second causes the menu to vanish. (Using latest Firefox)

Second, the title looks cutoff for the specification:

![screenshot_20180904_091235](https://user-images.githubusercontent.com/6701030/45036761-faecce00-b022-11e8-903f-d710b611cccd.png)

^ That's what

[2018-09-04 14:18] hbetts commented on #81
It should be said, though, that I really do like the website. Contrast feels pretty good. It's easy to scroll through and find content. Branding is really starting to take shape.

:+1:

[2018-09-04 15:58] damianopetrungaro commented on #81
Sure!

@lorenzodianni let's fix that https://github.com/conventional-commits/conventionalcommits.org/issues/81#issuecomment-418383793

[2018-09-04 19:08] damianopetrungaro commented on #81
@hbetts  i am not a frontend dev, but doesn't the content shown at the very bottom of the screen when the page is loaded depends on the screen size?

[2018-09-05 05:36] damianopetrungaro commented on #89
@zeke @bcoe @stevemao @hbetts  🏓

[2018-09-05 19:50] damianopetrungaro commented on #81
**I am also super proud to announce that [netlify](https://netlify.com) gave us a special pro plan for free!**

We'll be able to add more than collaborators to our team, and enjoy a free CD for each new PR and branch!

I'd like to add them in the README when the new UI we'll go live!

@conventional-commits/committee  Please send me your email in the private team and I'll add you on the netlify pla

[2018-09-05 20:44] lorenzodianni commented on #81
@bcoe what do you think about this arrow?
<img width="138" alt="schermata 2018-09-05 alle 22 28 25" src="https://user-images.githubusercontent.com/7217805/45119315-66d25200-b15b-11e8-8639-929076bdf2d4.png">
___
@hbetts about specification title:
the gradient section has always 100% viewport height and the article section has a negative translationY (so the article moves up).
Do you think it's bett

[2018-09-05 23:12] damianopetrungaro commented on #81
@lorenzodianni maybe see the article only after scrolling?

[2018-09-05 23:16] hbetts commented on #81
Thank you for the explanation! 👍

That's a really tough one.

I moved the content up using -95px and it feels like it's crowding the content on the splash page. Also, it seems a little redundant (The title of the splash page, and the title of the article both say _Conventional Commits_).

Moving the content down looks nicer, but it's not apparent that you can scroll down to read additional content

[2018-09-11 07:46] damianopetrungaro commented on #81
All the changes have been applied.
See that I have no more feedbacks I'll open a PR today, and pair with @bcoe to transfer the domain to Netlify.

fyi: `https://conventional-commits-test.netlify.com/en/v1.0.0-beta.2/`

[2018-09-16 20:02] bcoe commented on #79
@hbetts @damianopetrungaro see my notes in #91, my concern about moving the introduction section to the top is that "Conventional Commits" is an attempt to describe a standard.

If you look at semver.org, the content immediately jumps into a functional description of what a user adhering to the standard should do. For this reason, I advocate that we opt for a first sentence that reads something li

[2018-09-16 21:48] #81 closed

[2018-09-16 22:08] damianopetrungaro commented on #90
Automatically added to the new website structure!

[2018-09-16 22:08] #90 closed

[2018-09-17 01:16] hbetts commented on #79
@bcoe I like your suggestion, though I would like to propose replace `When writing software ...` to `When contributing to a project ...` as not all participants in Open Source write software.

[2018-09-17 20:20] Kikobeats opened #93 "Add bumped as tool"
Hello,

Time ago I designed [bumped](https://bumped.github.io/) for making release software easy.

In fact, It has a [bumped-changelog](https://github.com/bumped/bumped-changelog) that use conventional commits under the hood!

I want to ask if it could be added to the tools recommend. Actually, I can make the change, just not sure if it needs to be added to all content versions or just in the curr

[2018-09-18 05:34] damianopetrungaro commented on #93
Thank you for the question!
Yup feel free to add it into the current/next version and it will be added in the next release!

[2018-09-18 13:01] #93 closed

[2018-09-20 20:36] gaviriar opened #95 "Conventional commit tooling?"
Hi There,

Big fan of this spec. Is there any plans or intentions on writing tooling around this spec i.e. some basic git/hg hooks which can be developed to enforce the conventional commit format?

Would this be a task/project that you would consider to be relevant to the scope of https://github.com/conventional-commits?

[2018-09-20 22:14] damianopetrungaro commented on #95
Hello @gaviriar there's no plan, but ideas are welcome!

Anyway there are already a lot of tools that help you generate conventional commits, such as
https://github.com/commitizen/cz-cli or https://github.com/damianopetrungaro/php-commitizen

Did you have something in mind?

[2018-09-23 04:27] damianopetrungaro commented on #89
mmm I copied from the specs but is not there anymore...

Maybe it was I an older version?

[2018-09-23 04:28] damianopetrungaro commented on #89
Btw, if is not there it means has been fixed!
Closing this :)

[2018-09-23 04:28] #89 closed

[2018-09-28 23:50] damianopetrungaro opened #97 "Improve SEO"

[2018-10-03 20:16] gaviriar commented on #95
Hi @damianopetrungaro,

Yes, I had seen the commitizen repos, which look pretty sweet! Maybe they satisfy the requirements I was thinking of:

1.  The tool should be easily integrateable as a git hook or other version control hook
2.  The tool should be configurable such that a company or project can specify his/her specific formatting guidelines e.g. maybe bug/task ID required, specific keywords

[2018-10-03 20:19] damianopetrungaro commented on #95
You can use them everywhere you want. It depends how you want to you it.

Yup, you can

[2018-10-03 20:22] gaviriar commented on #95
Thanks for the response. Alright then, I guess I need to dig in a bit deeper into commitizen and see if it addresses my needs. Cheers!

[2018-10-03 20:22] #95 closed

[2018-10-11 21:04] mrwilson opened #98 "Resolving ambiguity in the spec"
Hi!

I'm a big fan of conventional commits, and have been using it on most of our work projects and all of my personal projects, so thank you.

I've been trying to implement a parser for the spec [here](https://github.com/mrwilson/conventional-commit) and have a question.

Given

and

How can automated process tell the difference between a commit message with just a description and a commit messag

[2018-10-13 18:16] damianopetrungaro commented on #98
Hey @mrwilson thank you for the issue!

At the moment there's no way to distinguish them.
Do you have an issue with it?
If you have an idea to improve the specs you're welcome!

[2018-10-13 18:34] Mouvedia commented on #88
[This list](https://github.com/conventional-commits/conventionalcommits.org/blame/87d94e3afe74056fac4467f8dd9b76521d17c5a3/content/v1.0.0-beta.2/index.md#L35) should be _'build', 'ci', 'chore', 'docs', 'perf', 'refactor', 'revert', 'style', 'test'_.

cf https://github.com/marionebl/commitlint/tree/master/%40commitlint/config-conventional#type-enum

[2018-10-13 18:46] Mouvedia commented on #78
1. we need use cases (Iv come up with some)
2. check if these are not already covered by more common types
3. if so does having a more generic type like `improvement` an improvement over the multiple types ((`perf`, `refactor`, etc.)
4. if there are cases left after 3, ask ourselves if it is still warranted
5. if it is, settle on a shortname: #66

[2018-10-15 10:08] mrwilson commented on #98
Hi,

My issue is that it means I can't properly implement a parsing library for the spec (yet!), and I thought it would be good to have a reference implementation for the spec?

How would I go about proposing an amendment to the spec? I have an idea.

Thanks! :)

[2018-10-15 12:45] mrwilson commented on #98
Thanks! Here is a rough outline and I'm happy to formalise it into proper language if acceptable.

### Proposal

Amend the spec to require delimiting 'body' with bullets (whether `*` or `-`) and leave 'footer' as a bare line.

### Examples

We've informally adopted this at my workplace and we've found it an easy step - so you end up with commits like below, using https://github.com/unruly/hiera-se

[2018-10-15 13:28] damianopetrungaro commented on #98
I don't think this implementation may solve the issue in a fashionable way.
You're adding noise to the commit message and it would be harder to read and understand.

See that you already have space as a separator for type+description/body/footer it doesn't make sense really to add a `Co-authored-by` that may not fit all the use cases (for example link a Jira issue).

IMHO it may be sth way simpler

[2018-10-15 14:07] mrwilson commented on #98
I see what you mean - by the way, the `Co-Authored-By` could be anything, it's just that's the kind of thing we put into our footers to attribute commits. The only change I'm proposing is bulletting the body section. For clarification, a generic example would be:

[code]

I'd be happy with the separator solution too :)

[2018-10-16 18:04] hbetts commented on #98
If there is no way to distinguish between them, then why have specify two separate sections?

Any change to the spec that requires additional effort on the part of a committer would need to provide compelling value. Every additional requirement increases the likelihood of it not being followed correctly.

---

My opinion is that the specification does not provide justification for having two separ

[2018-10-16 18:51] damianopetrungaro commented on #98
The point is that IMHO there's no value splitting them.

The body+footer section can always be used together and could be treated as a better explanation  of the commit.

[2018-10-16 18:53] bcoe commented on #98
one option, perhaps you can't have a footer without a body? and if there are just two sections, always assume header and body?

[2018-10-16 18:55] damianopetrungaro commented on #98
@bcoe Both are optional so you may have only the body, only the footer or both of them.

[2018-10-16 19:08] bcoe commented on #98
why don't we indicate that the `footer` is an optional part of the `body` but can't exist without the `body`; wipes hands, done.

I think this might fit with what the [angular folks](https://gist.github.com/stephenparish/9941e89d80e2bc58a153#format-of-the-commit-message) are also advocating.

[2018-10-16 19:21] mrwilson commented on #98
As a day-to-day user, I personally prefer 'having only one section' to 'footer only exists within body'.

For both work and personal projects, I mainly use the footer for attributing commit authors but it's common to have a footer but _not_ a body. (see https://github.com/unruly/hiera-secrets-manager/commit/1c776e063d8a705e4e2a82e2f8fff264a5e06df3 for an example)

[2018-10-16 19:21] damianopetrungaro commented on #98
Maybe we can find a name for the entire section that includes body and footer so that there is no BC in the tools that are supporting conventional commit.
wdyt @bcoe ?

[2018-10-16 20:06] hbetts commented on #87
I believe this issue is simply waiting on someone to have sufficient time to review the specification and ensure each use of MUST, SHOULD, etc., is being used correctly for the desired result.

[2018-10-16 20:42] #79 closed

[2018-10-17 22:42] bcoe commented on #98
@stevemao @ajoslin @Tapppi @hbetts any thoughts about how to fix this in the spec? my concern is that the conventional-commits parsers do parse the footer I believe? how does the parser deal with this ambiguity?

[2018-10-22 14:07] mrwilson commented on #98
I think it'd be good to add a reference implementation too, whichever way this gets resolved. That can be a separate issue though.

[2018-10-22 16:32] zeke commented on #98
Here's what [parse-commit-message](https://github.com/tunnckoCore/parse-commit-message/blob/0dd4cf9c0babe7ffb68ca7c18aa8ebfc85a9ebd6/src/lib/parse.ts#L28-L29) does:

[code]

[2018-10-22 20:48] bcoe commented on #98
@zeke et al., this seems reasonable to me; if there are two more elements, it's a `body` and `footer`, if there's one more element, it's always assumed to just be a `body`.

Personally I don't think we need to overcomplicate things for the edge-case of a footer, let's just make sure the language of the spec reflects the conditional nature of the footer.

[2018-10-22 21:30] zeke commented on #98
That makes sense to me, but I think the implementation above is actually different: `footer` seems to take precedence over `body`. Maybe @tunnckoCore had a reason for writing it this way?

[2018-10-22 21:42] damianopetrungaro commented on #98
@zeke

[2018-10-22 21:55] bcoe commented on #98
@zeke @@tunnckoCore whoops, misread; this feels weird; my workflow, which I've found works quite well, is that I almost always only write the `type` and `description` line, unless it's a BREAKING CHANGE, at which point I fill in a `body` with a thorough description of the breaking change...

I can imagine a workflow where I use a footer, e.g., Node.js populating this with reviewers, but it _defini

[2018-10-22 21:55] bcoe commented on #98
☝️ I think we could describe this with a tiny bit of clarification in the section of the spec around footers, without adding much to the spec?

[2018-10-23 12:49] mrwilson commented on #98
@bcoe - it sounds like it would be enough to replace

with

Happy to open a pull-request.

[2018-10-23 13:09] tunnckoCore commented on #98
Glance reading through the thread, i'm agree. I had no some special reason to did it that way.

[2018-10-23 16:55] bcoe commented on #98
@mrwilson 👍 sounds great to me, could I convince you to make a pull request 😄 many hands make for light lifting.

[2018-10-23 17:19] mrwilson commented on #98
@bcoe I have done so, hope I made the change in the right place!

[2018-10-23 17:50] damianopetrungaro commented on #98
Yes, `next` is the right place 😄

[2018-10-24 22:47] #98 closed

[2018-10-25 09:00] vmx commented on #88
This discussion reads like there is an agreement that if you `git revert` a commit, the commit message should just be what Git is doing:

[code]

If it's a partial revert, you would use one of the existing types as it's probably a "fix", but it could e.g. also be "docs". You probably re-word the header anyway.

[2018-10-26 15:57] hbetts commented on #98
[`conventional-commits-parser`](https://www.npmjs.com/package/conventional-commits-parser) is kind of a reference implementation though it's regular expressions are pretty accepting of most commit message conventions.

[2018-10-26 15:59] hbetts commented on #95
[`conventional-commits-parser`](https://www.npmjs.com/package/conventional-commits-parser) is another tool that parses commit messages to extract things like `type`, `scope`, `issues`, etc.

[2018-10-26 17:07] mrwilson commented on #98
@hbetts Cool - I discovered the spec issue by trying to implement a module that encompasses the spec using a parser library.

Here if you're interested: https://github.com/mrwilson/conventional-commit/

[2018-10-28 14:36] #97 closed

[2018-11-02 15:45] anasinnyk opened #105 "Implementation git plugin for conventional commits"
Hi all,
I try to implement git plugin for easily using conventional commits in our company, maybe you have some requirements or proposition.
It's awesome if you can provide a link to my [repository](https://github.com/anasinnyk/git-convenient) in your documentation.
Best regards

[2018-11-02 15:52] damianopetrungaro commented on #105
Hey @anasinnyk feel free to open a PR, and edit the `next` version of the specs 😄

[2018-11-02 15:53] damianopetrungaro commented on #105
Having some documentation about the tool will be awesome too 😄

[2018-11-05 23:34] johnslemmer opened #106 "Ever considered making 'feature' synonymous with 'feat'?"
There is a lot wisdom in coding that variable names etc shoudn't be shortened or abbreviated.  It makes code more readable.  And we all know code is read a lot more than it is written.

So, with that in mind have you thought about making it acceptable to write `feature` instead of just `feat`? (I would love to see `feat` dissapear but too much time has passed and there is too much history and tool

[2018-11-14 22:37] stevemao commented on #106
Just in general I try to avoid too many options because of [tragedy of the commons](https://en.wikipedia.org/wiki/Tragedy_of_the_commons). And also this spec is supposed to be strict.

[2018-11-15 00:38] johnslemmer commented on #106
Makes sense. Thanks for thinking about it.

[2018-11-15 00:38] #106 closed

[2018-12-13 01:22] chanjsq opened #109 "Which type the initial / first commit message should take?"
- `chore: create project`
- `feat: ...`
- `refactor: ...`

[2018-12-13 08:38] damianopetrungaro commented on #109
mine one is usually
`Initial commit`

[2018-12-17 11:32] punkusha commented on #109
`chore: init project`

[2018-12-17 23:21] zeke opened #110 "Case sensitivity"
There seems to be no mention of case (in)sensitivity in the spec. Should there be?

Asking because I ran into this today and I'm not sure how to resolve it: https://github.com/probot/semantic-pull-requests/issues/39

@pvdlg does `semantic-release` require lowercase?

@greysteil is there a particular reason you've chose capitalized PR titles for @dependabot?

cc @tunnckoCore, maintainer of `parse-c

[2018-12-17 23:32] greysteil commented on #110
From Dependabot's side, I think those capitalisations are a mistake. I don't know when the bug was introduced, but at some point a couple of weeks ago I think a version of Dependabot shipped that accidentally capitalised the prefix.

Unfortunately that bug has been compounded by the updated Dependabot logic [here](https://github.com/dependabot/dependabot-core/blob/4be5191878368469301a158f93bce830f

[2018-12-18 00:08] pvdlg commented on #110
Yes semantic-release is case sensitive. I'm not sure why the decision was made. I probably didn't think about that case. It hasn't been a problem so far.
However the default for semantic-release is the [angular convention](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#-git-commit-guidelines) which specifies each type in lower case, without clearly mentioning that the case matter.

[2018-12-18 00:19] stevemao commented on #110
I think the spec should be a bit strict (case sensitive). But the tools can be a bit loose (case insensitive).

[2018-12-18 02:39] chanjsq commented on #109
@punkusha Awesome answer! ❤️

[2018-12-18 02:39] #109 closed

[2018-12-18 03:50] tunnckoCore commented on #110
I noticed that tool, before few weeks. And think that all parts should be insensitive except the `BREAKING CHANGE: ` - the `type`, `scope` and etc.

[2018-12-18 03:54] stevemao commented on #88
`conventional-changelog` currently implements `revert` exactly the same way as the angular docs.

[2018-12-18 06:18] zeke commented on #110
☝️ This sounds good to me. Anyone want to take a crack at adding this to the spec?

[2018-12-20 05:06] dijonkitchen commented on #110
This was discussed in #24, but I have found a good justification for lowercase if you are a fan of Google's reasoning for Go/Angular: https://golang.org/doc/contribute.html#commit_messages

[2018-12-20 17:36] zeke commented on #110
Thanks for sharing that old issue, @dijonkitchen. I searched but somehow missed it.

Hmm, for some reason that [FAQ entry about uppercase vs lowercase](https://github.com/dijonkitchen/conventionalcommits.org/blob/2e14b1c858a620ab1e98b90191d0f796093f13c5/index.md#are-the-types-in-the-commit-title-uppercase-or-lowercase) is not showing up on the website, even though the website appears to be serving

[2018-12-20 18:03] dijonkitchen commented on #110
Yeah, seems to be in the "next" version of the content: https://github.com/conventional-commits/conventionalcommits.org/blob/master/content/next/index.md

[2018-12-20 22:51] tunnckoCore commented on #110
My side is done. :) https://github.com/probot/semantic-pull-requests/issues/39 should be fixed too.

[2018-12-28 16:27] joao-alberto opened #111 "PT-br language"
Can I contribute to project translating it to brazilian portuguese?

[2018-12-29 16:40] bcoe commented on #111
@joao-alberto would very much appreciate the translation. Perhaps @damianopetrungaro can help coordinate? He's been working on landing a new version of the website.

[2018-12-29 16:42] bcoe commented on #110
👋 I'm late to the party, but I'd always assumed that the spec expected lower-case (except for BREAKING CHANGE which expects all upper-case); I agree that we should call this out explicitly on the website?

[2018-12-29 16:42] bcoe commented on #110
anyone feel like making a pull?

[2018-12-30 19:59] zeke commented on #110
@damianopetrungaro no I haven't touched anything.

[2019-01-02 15:45] damianopetrungaro commented on #111
Here I am!
Sure @joao-alberto any new translation is welcome!

This is how you can add a translation: https://github.com/conventional-commits/conventionalcommits.org#adding-a-translation

If you have any doubt feel free to reach us! ty for your time!

[2019-01-11 18:15] AoDev commented on #78
Hi,

A long time ago I submitted a question about the `meaning of feat`, here for context: https://github.com/conventional-commits/conventionalcommits.org/issues/26

I just recently discovered the new "improvement" tag recommendation. Maybe it came from my original question(?) That said, to answer @Mouvedia questions:

Since my own question, I have been using the tag "imp", as "improvement", in al

[2019-01-11 18:38] Mouvedia commented on #78
Alright here's my take based on your description:

- doesn't represent immediate changes for the user
- doesn't improve performance by itself
- doesn't modify an existing feature
- adds an _inactive_ internal functionality
- always represents a step towards another type (feat, refactor, pref, etc.)

@AoDev Anything to add?

[2019-01-11 19:12] AoDev commented on #78
@Mouvedia Yes that's a good definition of what I have in my head. Especially your last point is spot on I would say.

[2019-01-11 19:17] Mouvedia commented on #78
This shit is goddamn narrow in scope. Would `internal` be more encompassing and easier to describe?

[2019-01-11 19:34] AoDev commented on #78
I don't think it's a "goddamn narrow in scope".

If I look at my last project (medium size SPA)

Commits count go like this:
imp: 86
refactor: 72
feat: 70
fix: 41

It's the most used tag. Obviously it depends on app architecture. Personally I set a clear line between business logic (would lead to `feat`) and generic stuff (leads to `imp`).

[2019-01-13 18:34] damianopetrungaro commented on #105
@andrewrynhard As I said to @anasinnyk , feel free to open a PR and add it 😄

[2019-01-14 02:49] andrewrynhard commented on #105
@damianopetrungaro Done 😄 #112.

[2019-01-22 17:18] Mouvedia opened #114 "type annotation / header file / declaration file"
What's the proper type for a d.ts file* update?
What about JSDoc comments?

I think it's refactor but docs might be correct too.

<sub>\* TypeScript declaration file</sub>

[2019-01-22 22:45] stevemao commented on #114
I'd use refactor in this case

[2019-01-25 21:01] tunnckoCore opened #118 "Convention for monorepos"
Heya.

I just ended up with a need to define a list of "changed packages".

https://github.com/tunnckoCoreLabs/parse-commit-message/issues/56

I'm opening this so we can come up with some convention together.

For now I'm thinking about

[code]

Based on that commit, later I can extract the package names and bump only their versions to their next `minor`.

[2019-01-26 02:16] damianopetrungaro commented on #118
Mmm di you want to communicate a change in different packages?

N different commits will work if this is your need :)

[2019-01-26 08:42] tunnckoCore commented on #118
Usually it will. In monorepo setups probably not always. You may need one commit which changes few packages.

It's not for me only, i'm building app/tool that will be used by other devs.

[2019-01-29 13:20] damianopetrungaro commented on #111
Any news @joao-alberto ?

[2019-02-05 10:47] seognil opened #125 "docker node-sass issue"
To me, it's always unable to build css while local dev.
while up docker and browse `http://localhost:1313`
css file missing

But I finally found a way after try everything

[code]
and then run the `docker-compose up` as README said
It just worked at least
(I didn't add these changes in my latest Chinese text PR)

---

The error info I saw was:
[code]
But it goes well after I do the npm update staf

[2019-02-05 10:57] damianopetrungaro commented on #125
I will take a look this week, ping me back if I won't reply 👍
Nice spot :D

[2019-02-08 12:53] damianopetrungaro commented on #78
Closing this due to inactivity.

Feel free to re-open it if needed! 😄

[2019-02-08 12:53] #78 closed

[2019-02-08 12:54] damianopetrungaro commented on #88
@stevemao @hutson @vmx  any other feedback on this?

[2019-02-08 12:55] damianopetrungaro commented on #87
@hutson @zeke @raamdev @bcoe @stevemao who wants to pick this one?
I think is pretty important for us.

[2019-02-08 12:55] damianopetrungaro commented on #80
@hutson any other input?

[2019-02-09 22:03] hutson commented on #80
Thank you for bringing it back to my attention.

So re-reading the website, I still feel the summary section is a duplicate of the specification content.

Now, perhaps, the summary can help learn the bare minimum needed to start using the convention. However, there are additional requirements in the specification that aren't covered in the summary. For example, the description is a requirement, ye

[2019-02-10 02:42] hutson commented on #88
If I introduce documentation that is inaccurate, I tend to revert the commit, use the `docs` type, along with a description that I'm correcting inaccurate information. Same thing as chore.

Again, this is just how I approach reverts. They may be some benefit to using, in-part, or in-whole, the git revert commit message that I am not aware of. Not to mention, others may find using `revert` commits

[2019-02-10 03:42] hutson commented on #118
A similar question came up within the company I work for with respect to mono-repositories.

I've been trying to put together use cases where commit messages need to include package information, but I haven't come up with any yet.

The closest will be a mono-repository where I will house a library package right next to a CLI package, which consumes the library.

If I modify a single package, do I

[2019-02-10 03:44] hutson opened #127 "Dependency Management"
Since the _theme_ for conventional-commits uses npm dependencies, could we please connect this repository to one of the available dependency management platforms out there to keep those dependencies updated?

[2019-02-10 03:46] hutson commented on #87
I would love to, but I just can't commit to doing the work at this time :cry:

[2019-02-10 06:49] tunnckoCore commented on #118
In that case, no you won't need.

This also is an easy case, and probably a candidate for synced versioning.

My use case is that I want to move all my packages scoped and non-scoped ones to a single repository. Every package on my profile will be on the `packages/` folder on the root. And there also will be folders on the root for each scope, for example `@tunnckocore` and `@hela` - https://githu

[2019-02-11 00:05] stevemao commented on #88
`Revert "<the original header>"` is default so you don't need to change anything. The angular way you'd have to modify the header slightly: `revert: <the original header>`

[2019-02-12 21:03] damianopetrungaro commented on #88
We are inspired by the Angular convention, we are not following it.

And in this way we'll be consistnet with all the other commit types

[2019-02-13 04:23] hutson commented on #88
:wink:

@damianopetrungaro do you feel we should be inspired in a different direction than the standard Angular convention? :smiley:

[2019-02-13 22:57] damianopetrungaro commented on #127
I am not a frontend developer, so I need to invest some hours in order to do it.
Is anyone more skilled than me and can take care of it?

[2019-02-18 13:16] damianopetrungaro commented on #80
I do agree with you, and there was a huge discussion with @bcoe  where me and him had different opinions.

This issue is the third time that someone has this feeling about it, so there is space for improvement.

Do you want to take it and try to rephrase it in a better way?

[2019-02-18 17:45] bcoe commented on #80
Here's why I would strongly argue against removing the summary section.

The motivation of standard-version, and the conventional-commits specification was that at npm, Inc, we were not doing a good job of documenting changes to npm's various services, such that whenever it came time to cut a release of npm Enterprise it was hard to tell what major features had changed since we last put the produc

[2019-02-18 17:47] bcoe commented on #80
I might add that conventional-commits has been successful, and has gained wide adoption at npm, Inc and across other open-source projects, I think it would be a huge mistake to remove the simple summary of the specification in favor of the daunting 11-point specification.

[2019-02-18 18:14] bcoe commented on #80
@hutson @damianopetrungaro

☝️ this is exactly what the summary should be treated as, someone to hit the ground running with conventional commit messages, as an example, probably doesn't need to know:

_A footer MAY be provided one blank line after the body. The footer SHOULD contain additional issue references about the code changes (such as the issues it fixes, e.g.,Fixes #13)._

And it starts t

[2019-02-18 18:21] nexdrew commented on #80
My opinion might not hold a lot of weight, but I agree with @bcoe. Ever since adopting the convention - at npm, in my open source work, and with my current development team - the thing that has won people over is the simplicity of the convention and the ease of applying it to a [GitHub-flow](https://guides.github.com/introduction/flow/) methodology.

I, for one, appreciate the simplified summary -

[2019-02-18 18:31] nexdrew commented on #80
I would argue that, when I go to the conventionalcommits.org site, the primary goal should be to quickly and concisely tell **what** the spec is and **why** it's useful, perhaps pointing to a handful of the tools that make developers lives easier when using it. IMO this is what the summary should represent. All the other details can be explained subsequently and secondarily.

[2019-02-18 18:53] bcoe commented on #118
👋 hey @tunnckoCore, I put some work a while back to adding conventional commit support to [lerna](https://github.com/lerna/lerna/blob/030de9d6285f2b364ed1460b9534bc2190acdf7a/commands/version/README.md#--conventional-commits). Like @hutson indicates, it uses the path of the git message to essentially maintain multiple conventional commit logs in the same repo -- it works okay, but I don't think th

[2019-02-18 18:57] bcoe commented on #114
@stevemao thanks for fielding this. @Mouvedia sounds like you both lean towards `refactor`, I'd run with this 👍

Keep in mind that the spec doesn't strictly define most `types`, so it's more important that you're consistent in your own project, and document the approach used, rather than always come to 100% agreement on type name with folks outside your project.

[2019-02-18 18:57] #114 closed

[2019-02-18 18:59] bcoe commented on #111
@joao-alberto echoing @damianopetrungaro, a Portuguese translation would be awesome for the community if you eventually have the time.

Let us know in slack if you need any help getting started:

http://devtoolscommunity.herokuapp.com/

[2019-02-18 19:04] bcoe commented on #110
@zeke @tunnckoCore @damianopetrungaro where did folks land on this? do we not care about case sensitivity, with the exception of "BREAKING CHANGE" being all upper case?

This is potentially more user-friendly, and I'd be fine with this approach ... perhaps we update the spec to:

[code]

@stevemao ☝️would this require sweeping changes to the parser?

[2019-02-18 19:06] bcoe commented on #87
@hutson @damianopetrungaro I'll make an effort to take this on. I essentially just need to re-read `RFC 2119`, go back through our spec, and correct the usage of our terminology I believe? i.e., we care about the "Specification" section and "Summary" section only?

[2019-02-18 19:09] zeke commented on #110
I'd still lean toward a lowercase requirement, but that doesn't seem to be the popular opinion here.

`semantic-release` requires lowercase prefixes, so if the final decision for the spec is to remain case _insensitive_ , I may have to make https://github.com/probot/semantic-pull-requests deviate slightly from the spec to maintain compatibility with `semantic-release`.

[2019-02-18 19:51] bcoe commented on #77
I think we covered this in the FAQ \o/

[2019-02-18 19:51] #77 closed

[2019-02-18 20:00] damianopetrungaro commented on #87
Yup @bcoe that's it :)

[2019-02-18 20:21] zkat commented on #80
I'd much rather read as concise a spec as possible, and only read the details if I need to implement something myself.

[2019-02-18 20:29] tunnckoCore commented on #118
Heya :wave:

The thing is that I proposing it, not because of Lerna, but because I need some sign in the commit message side, so I can extract it through the GitHub API so to be used in a GitHub App.

Even if nothing is done there and I and others use Lerna for publishing, we will still need to have some sign for the GitHub App so to make it work with mono-repos.

What is just popped in my mind is

[2019-02-18 20:43] tunnckoCore commented on #110
I don't think spec should care and it should be lite/easy on that (so, insensitive). Tools and authors on top of it can decide whatever they want as with the case with `semantic-release`. :)

That way @zeke's `semantic-pull-requests` _won't_ "deviate slightly from the spec". :) So, win-win.

[2019-02-18 20:58] greenkeeper[bot] opened #130 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-02-18 21:01] evocateur commented on #118
lerna/lerna#707 goes into great detail why you shouldn't care about Lerna bumping transitive dependents of a changed module. If there _is_ no relationship at all, it means your tags are getting mangled and Lerna defaults to publishing everything when it can't find the last annotated release tag (convoluted "release" branches are often the culprit in these cases).

[2019-02-18 21:14] damianopetrungaro commented on #130
I don't think we are using greenkeeper.
Going to remove the access if it is there.

[2019-02-18 21:17] damianopetrungaro commented on #130
@hutson  do you know sth about this?

[2019-02-19 02:55] hutson commented on #80
@bcoe @nexdrew @zkat thank you all for your input, and insight, on how you, among many others, use the _Summary_ section to help build a culture that leads to high quality commit messages, and successful product execution.

@damianopetrungaro I still feel there are opportunities for targeted improvements to the _Summary_ section that may provide additional clarity. Please let me close this issue o

[2019-02-19 02:55] #80 closed

[2019-02-19 02:59] hutson opened #131 "Summary Button"
On the landing page for Conventional Commits there are two buttons near the center of the page;  _Read the specs_ and _GitHub_. As demonstrated in #80, part of our community feels the summary plays a vital role in quickly on-boarding engineering organizations with the convention, and ensuring a high level of consistent adherence to the convention.

Could we further help teams by providing a button

[2019-02-19 04:07] hutson commented on #110
@bcoe I believe the parser just relies on the convention package.

I believe some, if not all, convention packages are [case insensitive](https://github.com/conventional-changelog/conventional-changelog/blob/97ad96fe893bd5b40ec52e24fe46f4f9cd357a1a/packages/conventional-changelog-angular/parser-opts.js#L4).

Though, it probably doesn't matter if, say, `angular` required upper case, because that's

[2019-02-19 04:10] hutson commented on #130
I know what Greenkeeper is, but I don't know how it became activated on this repository. :man_shrugging:

Maybe @bcoe might know (He has been working overtime updating/upgrading many of our organization repositories to use the latest dependency releases)

[2019-02-19 04:19] ntwb commented on #118
@bcoe, so currently a single _changelog_ file?

I'm hoping to be able to have a _changelog_ for each Lerna _package_, and using _scopes_ in some way to determine which _changelog_ the commit is related to 🤔

[2019-02-19 04:24] stevemao commented on #118
(I haven't read the whole conversion here)
When I worked at Atlassian we used `affects: <package-1>, <package-2>`
See https://github.com/atlassian/lerna-semantic-release/commit/06e18185c6477085b7046248e7dd7eb59c06e0c9

Then lerna-semantic-release can parse affected packages and bump them only.

cc @jpnelson

[2019-02-19 06:13] bcoe commented on #130
@damianopetrungaro @hutson Greenkeeper was an attempt to address https://github.com/conventional-commits/conventionalcommits.org/issues/127, it keeps package.json up-to-date.

I don't have a strong opinion as to whether we need to do this or not. If we want to address #127, I suggest installing GreenKeeper, if not let's close #127 and just keep updating things manually.

[2019-02-19 06:14] bcoe commented on #130
seems like getting some smoke tests running in CI wouldn't be the worst idea in the world ... regardless of whether we enable GreenKeeper.

[2019-02-19 06:20] bcoe commented on #131
I like this idea, I might opt for the buttons:

`[Quick Summary] [Full Specification] [:octocat: Contribute]`

[2019-02-19 07:10] tunnckoCore commented on #118
@evocateur thanks, that's what I want, I'll check out the thread to see why such a cool flag is removed at all.

[2019-02-19 08:09] ntwb commented on #118
p.s. Currently @WordPress is looking at a custom solution using a Git pre-commit hook

https://github.com/WordPress/gutenberg/pull/13594

[2019-02-19 09:27] damianopetrungaro commented on #130
Cool! I thought it was a spam message or enabled by mistake, totally fine with it @bcoe :D

[2019-02-19 22:05] bcoe commented on #118
@ntwb there is a CHANGELOG generated for each of the libraries in the `packages/` folder. By cruft, I was referring to the fact that you end up with quite a few releases that are generated by the fact that a dependent package was updated. `bar` packages CHANGELOG will be updated with an entry, due to a change on its dependent package `foo`. It looks like this is currently handled in lerna by entri

[2019-02-20 04:02] hutson commented on #131
Personally, I like the text. The distinction, at least to me, is quite clear between `Quick` and `Full`.

[2019-02-20 04:03] hutson commented on #130
I would love to see dependency updates automated with Greenkeeper!

[2019-02-20 17:22] evocateur commented on #118
Not a huge fan of this personally, but it's the best we've got at the moment. I'd rather provide a rollup of _what_ dependencies got bumped so it'd be a little more expressive. It would require some tricky refactoring of the `--conventional-commits` code in Lerna, however, and it's low on my priority list.

[2019-03-12 15:47] bcoe commented on #90
@damianopetrungaro 🎉

[2019-03-16 19:50] bcoe commented on #43
Since:

1. we haven't updated the specification to introduce the `!`.
2. as @nornagon points out it's potentially confusing.
3. all of the existing tools support `BREAKING CHANGE`.
4. it would be way cooler if we could instead eventually work with `gitlab`/`github` folks to consider supporting conventional commits -- catching the BREAKING CHANGE in the message.

I'd like to vote that we don't add

[2019-03-16 19:53] bcoe commented on #88
👋 my two cents,`revert: ` currently fits within the scope of the existing specification, and it seems fair to put the responsibility for how this is interpreted in the hands of the upstream tooling authors. I'd advocate that we document it in the FAQ like @damianopetrungaro suggests.

[2019-03-16 19:55] bcoe commented on #110
@stevemao can you confirm that the toolchain is case insensitive?

[2019-03-16 19:56] bcoe commented on #110
☝️ @stevemao if so, I suggest we add this to the specification for upstream tooling implementors.

[2019-03-16 19:58] Mouvedia commented on #88
I am fine with it but it needs to allow partial reverts as well.

[2019-03-16 20:00] bcoe commented on #88
@Mouvedia I think from conventionalcommits.org's point of view, it only cares about the prefix `revert: `, the tooling author would be able to decide the meaning of everything after the `: `, which might be a partial revert or full revert.

[2019-03-16 23:26] ofrobots commented on #43
GitHub and gitlab are but two tools. Having indication of breaking changes
in the abstract that is tool independent would be nice.

On Sat, Mar 16, 2019, 12:50 PM Benjamin E. Coe <notifications@github.com>
wrote:

[2019-03-18 09:05] damianopetrungaro commented on #43
I think this is the PR with most interaction we ever had!

We can try to add the `!` support (or something else too it's fine) because it seems to make sense to a lot of people, and at the same time work with some github/gitlab folks.

Do we know any internal?

[2019-03-18 14:05] apetro commented on #43
For whatever it's worth: after further rumination, I (still) like the ALL-CAPS signifies breaking change idea (#63).

Writing commit messages is like writing email, in that there's a subject and a body and there's lots of contexts in which just the subject will be shown or read. When one wants to SHOUT in email, one writes all-caps. Surely breaking an API is worth SHOUTING about. So when that feat

[2019-03-18 21:29] bcoe commented on #43
@damianopetrungaro, @ofrobots and I have been discussing a compromise; what if we introduced `!` as an optional addition to the commit message BUT, it must be used in conjunction with `BREAKING CHANGE: description`.

How would this land with folks? @hutson, @apetro? @apetro it's worth mentioning that we're adding a stanza to the specification that makes the whole spec case-insensitive, so you coul

[2019-03-20 04:24] stevemao commented on #110
`BREAKING CHANGE` is, but `feat`, `fix`, etc are not ATM. It's very easy to change though.

[2019-03-20 18:19] tunnckoCore commented on #110
I think that we can add one more point - the `12` which will say something like:

_"All parts of the commit message are case insensitive, except the `BREAKING CHANGE` one. Note that, upstream implementers of this specification MAY enforce case sensitivity for some of the parts - for example, the type to be always lowercased."_

I'm all in for case insensitive in the parsers side (like my case with

[2019-03-20 19:25] fernandoseguim commented on #111
I have the interest to collaborate with this project. @ joao-alberto and @damianopetrungaro, how are going the pt-br translation?

[2019-03-23 16:15] #87 closed

[2019-03-24 01:18] Mouvedia commented on #88
In light of [TCR](https://medium.com/@tdeniffel/tcr-variants-test-commit-revert-bf6bd84b17d3)'s emergence, the revert type may become as essential as fix and feat.

[2019-03-25 10:15] damianopetrungaro commented on #111
@fernandoseguim  I don't see any branch or PR by @joao-alberto

So feel free to start it :)

[2019-03-25 10:55] damianopetrungaro commented on #110
I am fine with both actually.
I do not see any advantage imposing case sensibility here, exception made for the `BREAKING CHANGE:`.

[2019-03-25 18:04] bcoe commented on #110
we've added a stanza removing case-sensitivity from the latest revision of the spec :+1: for the record, I'm working on a conventionalcommits preset for conventional-changelog that is true to this decision:

https://github.com/conventional-changelog/conventional-changelog/pull/429

[2019-03-25 18:04] #110 closed

[2019-03-28 18:40] imanhodjaev opened #135 "Add resolves type in commit message"
Hi,

The reason behind this is to provide a meaningful way to identify additional work which was
part of commit for example if change is hard to label using one of existing types
`chore:`, `docs:`, `style:`, `refactor:`, `perf:`, `test:`.

Sample commit message

[code]

---
Kind regards,
Sultan.

[2019-03-31 13:55] imanhodjaev commented on #135
Closing this issue in favor of #132.

[2019-03-31 13:55] #135 closed

[2019-03-31 19:46] bcoe commented on #66
👋 any objection to closing this pull request, I think the spec appropriately calls out the fact that folks can pick and choose their own types.

[2019-03-31 20:26] longility opened #137 "Question: What approach have people used for work in progress features?"
Question: When reviewing the git log history and when I see `feat`, I have the expectation that a new feature is introduced. However, when we follow more [trunk based development](https://trunkbaseddevelopment.com/branch-by-abstraction/), we may have many wip (work in progress) commits for a feature that is not public and does not introduce any breaking changes. The last commit for the feature may

[2019-03-31 22:44] Mouvedia commented on #66
I think we should close this one and reopen #78

[2019-04-01 00:20] stevemao commented on #66
Closing now. Feel free to comment.

[2019-04-01 00:20] #66 closed

[2019-04-01 04:42] stevemao commented on #137
Duplicate of https://github.com/conventional-commits/conventionalcommits.org/issues/38

[2019-04-02 02:50] longility commented on #137
I'm not sure if I consider it the same as #38, which are commits to a feature branch. A wip commit can go into the `master` branch and be released and this is acceptable from the trunk based development standpoint. Trunk based development values continuous integration. minimizing merge conflicts, and trying to always stay releasable.

[2019-04-08 19:44] SimonKienzler opened #140 "i18n: provide Quick Summary translations for other languages"
The summary button labelled "Quick Summary", introduced in PR #138, needs to be translated to other languages that are supported.

[2019-04-10 23:03] #131 closed

[2019-04-10 23:04] bcoe commented on #43
@DominicKramer this just landed on `master`.

[2019-04-10 23:04] #43 closed

[2019-04-10 23:24] bcoe opened #142 "translations for v1.0.0-beta.4 of specification"
we're marching towards [v1.0.0](https://github.com/conventional-commits/conventionalcommits.org/pull/141) of this specification, it would be lovely to get updated translations for this.

Note, there's an additional element we need to translate, the [Quick Summary button](https://github.com/conventional-commits/conventionalcommits.org/issues/140) added by @SimonKienzler.

@seognil, @0x6368656174, @

[2019-04-16 18:50] bcoe commented on #43
:wave: we are experimenting with the addition of the `!` character in the `1.0.0-beta.4` version of the specification.

[2019-04-17 12:13] eemeli opened #143 "Include a changelog for the specification itself"
I guess this counts as a bit of a request for dogfooding?

I am using conventional-commits and tools based on it. Currently, when I notice that the website's version has updated itself, I need to look through the commits on GitHub to find out what happened. This is clumsy. What I expected to find was a changelog available somewhere that would summarise the changes for me; this is effectively the m

[2019-04-17 15:32] Woile opened #144 "Where shuould the exclamation mark go if there's a scope?"
Hello folks, I have 2 questions regarding `!`.

I was wondering first, how should it be used when there's a scope?

`feat(users)!: new user interface`

or

`feat!(users): new user interface`

2. Should the `!` be mandatory? This would have 2 benefits:
* Easier to parse just the title of the commit to find if it's a `BREAKING CHANGE` or not.
* Easier to look at the git history without having to rea

[2019-04-17 23:26] bcoe commented on #144
here's why I would hate for the `!` to be mandatory:

[code]

:point_up: `!` is a special character in `bash`, and I would find it annoying to have to escape it or remember to use single quotes every time I make a breaking change -- I also think this introduces friction for users.

I _do_ think we might be able to make the `BREAKING CHANGE` optional, if a user uses a `!`.

---

As for where to pla

[2019-04-17 23:29] bcoe commented on #144
two more thoughts:

perhaps requiring one or the other (or allowing both) would help reduce friction? `!` ends up being a shorthand for BREAKING CHANGE, when the description portion of the commit message is enough to describe the breaking change.

Even though I quite like the `!`, should we consider using another character that isn't a special character in `bash`.

[2019-04-17 23:31] bcoe commented on #143
@eemeli great point :+1: the cobblers children have no shoes?

Would happily accept a PR adding a CHANGELOG, [standard-verison](https://github.com/conventional-changelog/standard-version) is what I use on all my libraries ... and it's about to have a PR lands that makes it compliant with the latest and greatest rules we're describing in this specification.

[2019-04-17 23:37] bcoe commented on #137
@longility if a trunk based development workflow doesn't support the concept of concrete features landing on a master branch, it might be beyond the scope of the problem we're trying to solve with conventional commits -- you could perhaps use this specification as inspiration, and come up with your own set of conventions?

[2019-04-17 23:38] bcoe commented on #105
closing as inactive, will happily accept PRs for new tooling any time :+1:

[2019-04-17 23:38] #105 closed

[2019-04-18 04:07] Woile commented on #144
Wow, great feedback, agreed on all the items. Thanks! I don't which one could be used, maybe `&`?

Something to keep in mind with symbols is that it becomes less clear for someone who doesn't know the conventions. And then more symbols might be added to the convention, becoming really hard to decipher for people.

[2019-04-18 09:51] damianopetrungaro commented on #137
@longility  as I said:

The point is that one PR should be solved within an atomic commit.
If this is not possible (or a solution is not applicable for your use case), you should always add value to each commit message you write, so also if the PR has 10 commits all of them can be merged to the master without breaking the build.

But if you really do not want to change your way of "when to create

[2019-04-19 02:01] longility commented on #137
@bcoe Yeah, I'm just wondering if anyone has their own conventions around this. I'm trying different things at the moment, and I haven't found one that I'm completely sold on just yet.

[2019-04-19 02:01] #137 closed

[2019-05-10 03:42] MSakamaki commented on #125
I also have this problem and found a solution.

The cause is `sass:watch` in npm-sctiprs of the theme.
If you build after creating content, css is not generated because scss does not change.

There are two ways to solve this:

1. After building scss once, include in commit `themes/conventional-commits/static/css/style.css`
2. add normal scss-build-tasks as  npm start.

If determine which is best,

[2019-05-10 12:26] damianopetrungaro commented on #125
@MSakamaki this one seems reasonable `add normal scss-build-tasks as npm start.`.

Do you want to do it? I can assign you on this!

[2019-05-10 15:38] MSakamaki commented on #125
@damianopetrungaro
Yes, leave it to me.
I will make a PR.

[2019-05-10 23:48] #125 closed

[2019-06-08 01:45] ivanrosolen commented on #111
Hello!

Finished adding pt-br language, but on the FAQ section there's a ref to `@jameswomack/conventional-commit-spec`, but I couldn't find it.

Am I missing something or is it better to change this?

[2019-06-08 03:37] bcoe commented on #111
@ivanrosolen I think this was just an example that @jameswomack used when him and I drafted the spec, i.e., it's not a real module.

[2019-06-21 00:32] leomullerbq commented on #142
To which languages do you need a translation? I can help with the pt_BR one

[2019-06-21 03:57] seognil commented on #142
welcome and thanks to add more 😄
Check the contributing guide
https://github.com/conventional-commits/conventionalcommits.org#contributing

you can start from the latest (beta-4 now)
(well... differences between versions is not huge)
`content` is in `./content`
list `config` is in `./config.yaml`

[2019-06-21 21:09] gabrielizalo opened #162 "In the "Tooling for Conventional Commits" can I add Code Editors Plugins?"
In the "Tooling for Conventional Commits" can I add Code Editors Plugins?
For WebStorm and JetBrains editors there is a plugin that helps to create Conventional Commits.

[2019-06-21 21:14] damianopetrungaro commented on #162
Sure! Feel free to add it! Thanks for the input!

[2019-06-21 22:27] tunnckoCore commented on #162
Hm. Just noticed. As I remember, we merged the addition of `gitcommit` (or it was the `parse-commit-message`, hm) before some months, when and why it was removed?

[2019-06-24 15:48] #162 closed

[2019-06-24 20:18] bcoe commented on #142
what @seognil said :smile: we're open to any translations we haven't landed yet, or an extra set of eyes on the existing translations ...

I was hoping we were marching towards `1.0.0` a bit faster, but the introduction of `!` threw a monkey-wrench in things ... I'm quite loving the `!` addition to the spec however.

[2019-06-24 21:50] gabrielizalo commented on #162
@damianopetrungaro .. And how is the process of translation... I can add the tool to english lenguaje only...

[2019-06-26 10:43] damianopetrungaro commented on #162
@tunnckoCore maybe has been lost 😱, could you please add it again? Sorry about that!

[2019-06-26 10:45] damianopetrungaro commented on #162
The translation will be updated only when there will be a bump on the release.
(so when the beta5 will be out all the folks who translated the specs will update it, no worries about that ;) )

[2019-06-26 11:47] gabrielizalo commented on #162
Thanks.... The Pull Request has been merged.

[2019-06-30 02:43] jasonkuhrt commented on #118
fwiw we independently came to use the same tagging style as lerna and its working well for us.

[2019-06-30 02:48] jasonkuhrt opened #165 "breaking change should bump minor if version pre-1.0"
In accordance with https://semver.org/#spec-item-4

I don't think it makes sense that conventional commits assume BREAKING CHANGE always means bumping the major. Some projects might be unstable for a while but still want to communication breaking changes to their users in a changelog.

I think the spec should be as follows:

When BREAKING CHANGE is present:

1. if package version is >= 1.x.x bump

[2019-06-30 05:13] damianopetrungaro commented on #165
We should specify that if it is a 0.x.x we may not bump it up.

If > 0.x.y then https://semver.org/#spec-item-8

[2019-06-30 12:13] jasonkuhrt commented on #165
It should probably not be ambiguous so `must not` rather than `may not`.

But then, how does a user bump to 1.0.0?

[2019-06-30 12:17] damianopetrungaro commented on #165
When it is stable you tag it as 1.0.0 usually

On Sun, Jun 30, 2019, 14:13 Jason Kuhrt <notifications@github.com> wrote:

[2019-06-30 13:06] jasonkuhrt commented on #165
Yes certainly, but I was referring to the ability for conventional commits to support a well known commit pattern that would facilitate machines performing the bump. But for the ROI on automation around a singular event (to a project) is questionable.

[2019-07-04 09:59] damianopetrungaro commented on #118
@tunnckoCore can this one be closed?

[2019-07-04 10:00] damianopetrungaro commented on #118
@tunnckoCore feel free to re-open it if you still want to discuss it.

[2019-07-04 10:00] #118 closed

[2019-07-04 10:02] damianopetrungaro commented on #127
@hutson we do have GitHub that notify us in case of the security issues and we need to update the dependencies to fix it.

Do you think is it enough or do you prefer to re-open this?

[2019-07-04 10:02] #127 closed

[2019-07-04 10:03] damianopetrungaro commented on #130
@bcoe any update on this? Or can we close it? (see https://github.com/conventional-commits/conventionalcommits.org/issues/127#issuecomment-508423779)

[2019-07-04 10:04] damianopetrungaro commented on #88
@bcoe @Mouvedia @hutson do we want to add it in the specs?

[2019-07-04 10:05] damianopetrungaro commented on #140
@SimonKienzler  do you want to work on this?

[2019-07-04 10:06] damianopetrungaro commented on #143
@eemeli do you want to work on it?

[2019-07-04 10:07] damianopetrungaro commented on #144
@Woile feel free to open it again if you have other question :D

[2019-07-04 10:07] #144 closed

[2019-07-04 10:08] damianopetrungaro commented on #142
I am gonna have some free time (finally) hopefully I'll update the Italian translation next week!

[2019-07-04 10:14] damianopetrungaro commented on #140
Checked just now, it is already in place!
Closing this one, thanks @SimonKienzler for spotting it!

[2019-07-04 10:14] #140 closed

[2019-07-04 11:34] SimonKienzler commented on #140
Not a problem, @bcoe basically wrote this PR for me in #138 , I just created it. Thanks for closing it. If you ever need a German translation, let me know. I'd be happy to help out again :)

[2019-07-04 11:35] damianopetrungaro commented on #140
If you want to can add it and maintain it ;)

On Thu, Jul 4, 2019, 13:34 Simon Kienzler <notifications@github.com> wrote:

[2019-07-04 11:47] SimonKienzler commented on #140
Ah, I thought there was a German translation already that just needed upkeep :D Unfortunately I do not have the time to translate the whole thing atm. As far as I'm concerned most German-speaking devs prefer English content anyway, so it's probably not that important.

[2019-07-04 13:07] eemeli commented on #143
@damianopetrungaro I'm afraid I don't really have the bandwidth available for this atm.

[2019-07-04 13:57] Mouvedia commented on #88
**If** it allows partial reverts and has the requirement to include the SHA(s) of the commit(s) in the message, **yes** we should.

[2019-07-05 09:54] damianopetrungaro commented on #88
IMHO sth like that may work:

[code]

[2019-07-05 18:20] Mouvedia commented on #88
Maybe instead of a requirement it could be a recommendation.

[2019-07-08 17:49] #130 closed

[2019-07-08 17:50] bcoe commented on #130
@damianopetrungaro let's close this for now, if someone else wants to revisit and configure appropriately we can.

[2019-07-08 17:54] bcoe commented on #143
@damianopetrungaro I'd be happy to take this on, I think we need to come up with some guidelines for how we tag the different variety of commits to this repo however; as working on a spec document is a bit different than a module ... almost every change could be argued to be `docs`.

[2019-07-23 17:11] rbwhitaker commented on #106
Well I'm late to the party, but I have to agree. I think "feature" is far better. So many code style guides require that you spell out the words rather than arbitrarily shortening them. I'd rather "feature" be the choice here, not "feat." (Though I'd also get behind both options.)

I love what you've got going on here. I think this is a thing our company has been needing. But the "feet" [sic] thin

[2019-07-26 16:42] epage opened #170 "Confusion over "body""
The way the spec is written, it sounds like there can only be one paragraph in the body but I'm assuming that isn't the case because there are a lot of times when a commits need multiple paragraphs.  This confusion is exacerbated by the discussion in #98 which makes it sound like the footer can be assumed based on the number of paragraphs.

Also, it sounds like "BREAKING CHANGE" must precede the f

[2019-07-26 16:43] epage opened #171 "Are footers key/value pairs?"
I'm used to footers being key/value pairs:
- `BREAKING CHANGE: what changed`
- `Co-Authored-By: some name`

In reading an example of the web page:

[code]
I'm trying to figure out if `close issue #12` is being treated as a footer or another paragraph in the body.

[2019-07-26 16:44] epage commented on #171
Key/value pairs are helpful for
- Detecting the footer (if all lines have ":" then it probably is the footer)
- Parsing the content

[2019-07-26 17:46] damianopetrungaro commented on #171
They are not, but you can use them if you prefer to.
There are no strict rules about the format of the footer.

[2019-07-29 22:10] bcoe commented on #170
This is a conversation worth having, I believe the way things are written it's assumed your `body` and first `footer` will be separated by two newlines, so if you did have multiple paragraphs you would write them, like:

[code]

[2019-07-29 22:15] bcoe commented on #171
common footers I've seen are:

[code]

For starters, I think it would be good to update the spec to reflect the spec to reflect the fact that BREAKING CHANGE can fall in the footer; It might also be worth adding a note in the FAQ about what makes a good footer.

I think this would begin to address https://github.com/conventional-commits/conventionalcommits.org/issues/170, if you want a multi-parag

[2019-07-29 22:20] epage commented on #170
Since your comment in #171 was a little more explicit

[2019-07-29 22:24] epage commented on #170
The suggestion to indent further paragraphs seems at odds with wider git commit styles like [tpope](https://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html) and [chris beams](https://chris.beams.io/posts/git-commit/) talk about.  Conventional could go its own direction on this but I suspect that will hurt adoption.

Personally, I also treat git commit messages as markdown, which woul

[2019-07-29 22:30] epage commented on #171
Github has native support for [Co-Authored-By](https://help.github.com/en/articles/creating-a-commit-with-multiple-authors)

Linux also has [a lot of footers](https://www.kernel.org/doc/html/v4.17/process/submitting-patches.html#using-reported-by-tested-by-reviewed-by-suggested-by-and-fixes) that are probably of interest to the wider git community

The spec does already talk about BREAKING CHANGE

[2019-07-29 22:41] bcoe commented on #170
@epage this creates an ambiguity in the grammar between what's a footer and what's a body, is my concern; I don't want to define a specification that's not easily machine readable, I also don't want to introduce that many additional rules, e.g., that footers need to be key values (even that is ambiguous).

[2019-07-29 22:52] epage commented on #170
I understand the concern over ambiguity.  I'm writing a parser which led me to these questions.  I also strongly value inter-operating with existing tooling, processes, and practices and am hopeful that we can find a way to satisfy all`^W`  most of them.  I suspect it will take a wider look at ways of resolving the ambiguity would be helpful, similar to some of the discussion in #98 before people

[2019-07-29 22:58] bcoe commented on #171
@epage oh great, I wasn't sure that we had called that out (was going off memory).

Any ways, I don't think we should start legislating valid footers *but* I do think there's value in a note in the FAQ; "What makes a good footer", would happily take help writing this up.

[2019-07-30 13:57] epage commented on #170
I think a fairly unobtrusive unambiguous rule would be for the footer to be defined as the the section after the last markdown horizontal rule.  We could even constrain it to a subset of markdown's [horizontal rule definition](https://github.github.com/gfm/#thematic-breaks) to simplify parsing, ie 3+ `-` in direct sequence.  I'm mixed about whether to have the blank line before and after the horiz

[2019-07-30 21:06] damianopetrungaro commented on #170
Jumping by to drop my 2 cents:
This is how it should be split IMHO (as it is described right now).
If you need to have a lot of paragraphs probably the PR is too big.

[code]

It is easy to automate, easy to understand just looking at it and already used by the whole community that has no issue with it.

What is the point of your issue? Where did you see a real limit of the convention?
Just asking

[2019-07-30 21:27] epage commented on #170
From my perspective, that is not described in the spec.

Remember, this is not even the PR but the commit which is even worse for it to be too big :)

And while I can understand the sentiment that too much text is a smell for a ommit that does too much, there are a lot of valid cases for multi-paragraph commit messages.  For one commit, [I included benchmark information which had newlines embedded

[2019-07-31 17:35] bcoe commented on #170
@damianopetrungaro I think this is a conversation worth having; I'm personally not a fan of introducing an additional markdown token, like, `----`.

I like the simplicity of having the footer sections and body separated by `\n\n`, but it does fall short of supporting some PR formats, such as:

https://github.com/nodejs/node/commit/e378e7d7b1db748532bd00269b744ae9f3952e62

When we hit points of fri

[2019-08-09 21:47] JeanMertz commented on #170
I'm [writing a tool](https://github.com/rustic-games/jilu) that uses conventional commits as well, and [build a small parser in Rust](https://docs.rs/conventional-commit) to get the relevant commit details. I have to agree with the points @epage made.

Here are a couple of points worth considering:

* The spec should be unambiguous, especially when it comes to such an important aspect as BREAKING

[2019-08-10 10:41] damianopetrungaro commented on #170
Ok I think that at this point PR are welcome and we can simply discuss what's the best separator between the different sections.

[2019-08-10 11:30] JeanMertz commented on #170
Reading the spec again, and thinking out loud, I wonder if it even makes sense to have the concept of a "footer", or if we should simply have a way to identify commit metadata specifically.

If we tightened the spec a bit, you could say something like:

1. The first line is the description (with the type, scope, etc).
2. The second line MUST be either non-existent (single-line commit) or an empty

[2019-08-10 11:44] JeanMertz commented on #170
Building a bit on the above, I think just supporting `[ALL CAPS]` as metadata is not enough. I think single line metadata with colons to separate the type from the value is also needed, so an extension to the above could be to also support:

[code]

This is to support already existing non-standard usage of these tags to automate certain processes in big repositories and hosters such as Github (som

[2019-08-10 14:04] epage commented on #170
So hosting services, like github, support extracting `Closes #<num>`.  Would adding the `:` break support for that feature?  If so, I suspect that will surprise too many people that our recommendation does not align with github.

[2019-08-14 01:10] #142 closed

[2019-08-14 14:54] bcoe commented on #88
I would advocate that for revert commits we suggest in the footer "refs: x" which could be a sha or PR number. This seems less fragile than wrapping the original message.

It's then up to tooling on a specific platform to lookuo the ref.

[2019-08-14 20:38] #171 closed

[2019-08-14 20:49] epage opened #176 "Does Conventional care if the description is capitalized or not?"
The current spec does not say one way or the other but all the examples are lower case and someone tells me Angular's spec required it.

[2019-08-14 21:55] JeanMertz commented on #170
It [does not appear to break support](https://help.github.com/en/articles/closing-issues-using-keywords):

I'm pretty sure they added support for the colon because it's a [known standard in Git](https://git-scm.com/docs/git-interpret-trailers).

[2019-08-14 22:15] Mouvedia opened #177 "Where do you put your keywords/commands?"
I am talking about stuff like "smart commits".
e.g. https://help.github.com/en/articles/closing-issues-using-keywords

[2019-08-15 17:41] epage commented on #177
If I'm reading your question correctly, it seems like this generally falls under the footer

And the frontpage even includes an example

[code]

[2019-08-15 17:45] Mouvedia commented on #177
It was more of a poll but yeah I guess this is already covered by the seventh point of the specification.

[2019-08-15 17:45] #177 closed

[2019-08-15 20:32] damianopetrungaro commented on #176
Het @epage  this is what we recommend :D

https://www.conventionalcommits.org/en/v1.0.0-beta.4/#are-the-types-in-the-commit-title-uppercase-or-lowercase

[2019-08-15 23:06] epage commented on #176
that is about the type while I'm talking about the description after the colon.

[2019-08-15 23:10] blowmage commented on #170
FWIW, I would prefer it if the footer was wrapped in `[]`:

[code]

[2019-08-16 00:42] epage commented on #170
The downside to that is it isn't compatible with git conventions for trailers which I assume we'd want to be compatible with.

[2019-08-17 06:26] JeanMertz commented on #176
I guess that _someone_ was me? 😉

In either case, it's mentioned [here in the Angular CONTRIBUTING.md file](https://github.com/angular/angular/blob/22b96b9/CONTRIBUTING.md#subject):

[2019-08-17 06:56] JeanMertz opened #179 "Proposal to resolve body/footer ambiguity and support Git trailers"
There is some ongoing confusion (and an ongoing discussion) about the spec when it comes to both the _body_ of a commit message, and the _footer_.

Here is what the spec says:

I've highlighted the parts that I wanted to discuss in this issue, and hopefully find consensus on.

Reading the current spec, there are a few problems that arise from it:

* A body can only contain a single paragraph, anyt

[2019-08-19 20:38] JeanMertz commented on #179
I made a proof of concept implementation of a parser for this change in the specification.

It supports a commit like this:

[code]

With `BREAKING CHANGE`, `Co-Authored-By` and `Closes` each their own trailer.

You can check out the example here:

https://docs.rs/conventional/0.4.1/conventional/#example

[2019-08-20 00:52] bcoe commented on #179
@JeanMertz this is great work, I was leaning towards git trailers as well (I didn't realize they had a name) I think this is a great way to eliminate ambiguity even though it adds a bit more complexity to the spec.

My only concern would be weird edge-cases where someone has a `:` after the first word in a paragraph, e.g., perhaps they're listing something: `features: apple, banana, orange`.

[2019-08-20 00:53] bcoe commented on #170
I think @JeanMertz has put together a very compelling proposal here:

https://github.com/conventional-commits/conventionalcommits.org/issues/179

[2019-08-20 00:54] bcoe commented on #176
I tend towards lower-case, but not a hill I think is worth dying on.

[2019-08-20 01:36] blowmage commented on #179
My concern here is that there are times when having more time to describe a change is incredibly useful. Now that the footer is defined as one or more trailers, why not parse out the trailers and leave what is left as the body? How would a footer use a non-trailer paragraph anyway?

[2019-08-20 01:41] bcoe commented on #179
@blowmage, @JeanMertz is listing:

as a shortcoming of the current specification, his proposal would allow for multi paragraph bodies, I think he basically describes exactly the format used by Node.js:

[code]

I think it's great that this addition to the conventional commit specification puts us in the position to support Node's commit format.

[2019-08-20 02:17] blowmage commented on #179
Ah, this is what tripped me up:

As long as the footer doesn't start at the first blank line, and instead of a collection of all trailers, then I think it is a good change.

[2019-08-20 03:00] epage commented on #179
Sounds like this is more strict than git's definition of a trailer.  Do we need to be so strict that `BREAKING CHANGE` is a special case?

[2019-08-20 05:53] JeanMertz commented on #179
The reason for being a bit more strict is exactly to minimize the risk that @bcoe mentions in their comment:

By only supporting single words or words with hyphens or BREAKING CHANGE, followed by exactly “: “ or # “, we minimize the number of false positives.

Perhaps one of you can think of another way, or an additional way to make this less ambiguous?

[2019-08-20 05:56] JeanMertz commented on #179
My thinking was that requiring a blank line directly followed by a valid trailer does limit the chances of false positives even further. But indeed, it does not completely eliminate it.

One way to be even more safe, is by adding a specific footer mark such as `===` but I feel like that clutters the spec for everyone, just to guard against a case that won’t happen that often.

[2019-08-20 14:52] stephanedaviet opened #181 "50 characters first commit line length limit"
The conventional commit guidelines uses some long prefixes (18 characters for _"BREAKING CHANGE: "_, 14 for _"improvement: "_). By default, the first commit line of a commit message should be limited to 50 characters max, cf. `man git-commit`:

Is it possible to get some abbreviated keywords to keep enough content for a meaningful message?

[2019-08-21 21:03] epage commented on #179
So in my mind, the inputs to this discussion are
- Git conventions (trailers)
- Tooling relying on git conventions
- Common platform conventions (github's handling of `Fixes #10`)

and I'm assuming defining traits we are aiming for include:
- Helpful
- Low overhead
- Easy to use

So from that, some questions about the spec and example

**Note**: I try to use "trailer" when talking about git conven

[2019-08-21 21:07] epage commented on #179
If the goal is to be as restrictive as possible while still being compatible with most people, I think I prefer being a bit more consistent and adopting your recommendation for `Breaking-Change` instead.

Speaking of, case sensitivity, before we didn't have a way to identify keys from values.  Currently, the `type` and `scope` are case insensitive.  Are footer keys?  Do we need to include that?

[2019-08-21 22:07] tunnckoCore commented on #179
Hm. Really like that one. But the text of the spec may be a bit more simpler and not confusing for beginners. As @blowmage said: parse out the trailers and leave what is left as the body. Everything before the first trailer is considered `body`, everything after (including the first trailer) is considered `footer`. So, we never will have footer if there are no trailers. Which is a pretty clean thi

[2019-08-22 08:25] JeanMertz commented on #179
Git [supports configuring the separator](https://git-scm.com/docs/git-interpret-trailers#Documentation/git-interpret-trailers.txt-trailerseparators). I went with `:<space>` and `<space>#` because it covers most common use-cases without over-generalising things.

I don't think we should, because brain muscle has thought people to use `closes #x` in their commit messages, and this fits with the fact

[2019-08-26 11:44] stephanedaviet commented on #181
I saw that those texts are for the optional body, so my issue is irrelevant. I close it.

[2019-08-26 11:44] #181 closed

[2019-08-29 07:24] mineschan opened #186 "Should `fix` for the new feature in current version use `fix` or ... ?"
Hi guys, me and our team are trying to adopt this convention into our projects. And I come to this confusion and hope someone can give me some advises.

During an on-going sprint, new feature created and push to our repo with `feat`, which totally make sense and it will be included when we use tool to generate CHANGELOG. But then QA found a bug and ask developer the fix it right away.

So the deve

[2019-09-05 14:12] damianopetrungaro commented on #186
I think the right way is to rebase and squash the fix into the feature so that the PR has just 1 commit with the working feature.

If the `feat` has already been merged into the master, then you have no option rather than push a `fix` :D

Let me know if this makes send and reply to your doubt 😄

[2019-09-07 01:58] #170 closed

[2019-09-07 02:04] bcoe commented on #179
addressed in https://github.com/conventional-commits/conventionalcommits.org/pull/185

[2019-09-07 02:04] #179 closed

[2019-09-07 02:04] #176 closed

[2019-09-07 02:05] bcoe commented on #176
👍 we call out in the specification that conventional commits are not case sensitive.

[2019-09-07 02:28] bcoe commented on #88
see: https://github.com/conventional-commits/conventionalcommits.org/pull/175/files#diff-4d1a596d11b78953177b1c0bc67d9f4fR176

I've added the following blurb regarding revert commits:

[code]

I'm convinced that it's beyond the scope of the Conventional Commit specification to strictly define how reverts should be managed, _but_ I think this FAQ provides a reasonable starting point for tooling aut

[2019-09-07 09:03] Mouvedia commented on #88
You should remove the #.

[2019-09-10 14:32] Artoria2e5 opened #190 "ambiguity around description field of "fix""
The descrption specification example of fix is much unlike the descrption given in the summary for `fix`, and indeed, for every single other type. Compare:

[code]

See the problem? Although the spec asks for the description part to describe what the commit does, its very own fix example fails to do that. It thinks the `fix` type field is good enough for a verb to describe what it does, which it d

[2019-09-10 14:58] Artoria2e5 opened #191 ""zh" should be moved to "zh-cn" for neutrality"
There is some almost century-old debate around who is writing Chinese *wrong*, and the current consensus in the FOSS community is that nobody should occupy the `zh` tag and everyone should add a script (Hans/Hant) or region (cn/tw/hk) suffix to it. Following that spirit, I request that `zh` be renamed `zh-cn` some time later.

PS: `zh-tw`, which uses the Traditional 繁體 script, calls themselves `正體

[2019-09-10 15:02] Artoria2e5 commented on #190
My proposal is that point 5 gets a sub-point that says:

[2019-09-10 15:45] Artoria2e5 opened #193 "zh/ja show unncessary spaces are generated from Markdown newlines"
Markdown translates newlines to spaces, which works pretty well for languages that use spaces but not for others like Chinese and Japanese. These languages don't usually use spaces between words, and they definitely don't need spaces after their full-width punctuation marks that already give the space space. But, well, the nicely-newlined summary part are showing spaces everywhere as a result of t

[2019-09-10 15:54] Artoria2e5 opened #194 "translations: should the commit messages too be translated?"
Translating commit message guidelines is like translating every other programming guidebook: should comments, variable names, or other programming messages like commits be written in US English or in your native tongue? Proponents of US English say that it is *the* universal language, that localized messages may require additional or separate checkers, and that the words are supposed to be basic a

[2019-09-11 09:16] fallion opened #197 "Merge Commit guidelines"
For merge commits how lenient are conventional commits? Can a tool for checking conventional commit compliance simply find the `merge` keyword and allow anything after that?

https://github.com/commitsar-app/commitsar/issues/101

[2019-09-13 17:42] zeke opened #199 "Can the semantic-pull-requests repo live in this org?"
Hey folks! The maintainers of the @probot org are cleaning house! All repos that are not part of the core Probot product need to find a new home.

https://github.com/probot/semantic-pull-requests is a Probot app I maintain that ensures GitHub pull requests follow the Conventional Commits spec. I could move it to my personal account, but I prefer for projects to live in orgs whenever possible, to g

[2019-09-13 19:07] bcoe commented on #199
@zeke I'd be open to moving it here, what are other's thoughts? another potential home would be https://github.com/conventional-changelog/conventional-changelog, where we have a ton of tooling built around conventional commits, but I'm open to either (if the goal is to keep this a tight reference implementation of the spec).

[2019-09-17 21:16] mlindner commented on #24
This is utterly broken. Please study https://chris.beams.io/posts/git-commit/#capitalize

[2019-09-25 18:36] bcoe opened #200 "should "feature" be alias for "feat""
A few folks have pointed out that "feat" can be confusing, is adding ambiguity worth saving three characters?

CC: @jskeet, and @bshaffer, who brought this up.

[2019-09-25 18:58] damianopetrungaro commented on #200
With which other words can it be confused?

[2019-09-25 19:02] jskeet commented on #200
For me it's more about how obvious it is for those who don't have English as a first language. Abbreviations can add a friction with very little benefit.

I'd also say that there can be a perception of professionalism associated with not abbreviating. For example, I wouldn't expect professional documentation to say "When u do X" instead of "When you do X" - even when it's clear, published artifact

[2019-09-27 02:48] bcoe commented on #200
@damianopetrungaro this suggestion was also brought up by my colleague @bshaffer, who felt the abbreviation can come across as unprofessional.

It doesn't bother me personally, but I don't think it's a bad idea to consider adding support for `feature:` to the spec/parsers; since a few folks have brought it up.

@JeanMertz, have any opinions?

[2019-09-27 05:35] JeanMertz commented on #200
I don’t mind if it was an alias. I personally wouldn’t use it, as I also care about adhering to the maximum title length, which is already difficult sometimes with both a type and a scope in a title.

Note that “docs” is also an abbreviation, should we also add the alias “documentation”? Although to be fair, it seems to me that “docs” is more common in usage than “feat”.

In the case of the parser

[2019-09-30 04:52] tunnckoCore commented on #200
@bcoe, sure, worth nothing adding it :) Or at least it should be hinted _somehwere_.

[2019-10-01 00:04] tunnckoCore opened #203 "After v1: About footer(s), git trailers and "multiple footers""
The 3rd bullet in this list https://github.com/conventional-commits/conventionalcommits.org/pull/175#issuecomment-536398716 and the following comments after it.

I don't see any difference with git trailers, as @bcoe said in one of the comments. Each token/value pair is a trailer. What's the difference between _"multiple footer**s**"_ and _"git trailer**s**"_? In abstract world, they are children

[2019-10-01 06:08] JeanMertz commented on #203
The two differences are:

* Only `:<space>` and `<space>#` are supported as separators
* No spacing is required before a line belonging to a trailer that is not on the same line as the trailer key

That, and the fact that a footer doesn’t really exist in the sense that there can only be trailers in a footer, nothing else, is why I suggested the new wording.

Having said that, I don’t have too stro

[2019-10-02 12:52] cocowalla opened #205 "New perf/performance type [suggestion]"
This is a suggestion for a new `perf` or `performance` type, for code changes specifically aimed at improving performance.

With the existing type catalogue, such code changes would be best suited to the `refactor` type, but I feel that performance changes are a very particular *type* of refactoring, and a new `perf` type would be suitable.

Just a suggestion for now, but I'd be happy to submit a

[2019-10-02 12:56] cocowalla commented on #205
So, i just noticed that only the `feat` and `fix` types are codified in this spec, with others being used at your own discretion.

[2019-10-02 12:56] #205 closed

[2019-10-07 09:33] Rwing commented on #191
I think it's not best solution because it's political topic, maybe keep '简体' / ('繁體' or '正體') is better.

[2019-10-07 15:09] Artoria2e5 commented on #191
You might think 简 正 繁 is enough for cn tw hk, but people in sg and my also use the simplified script. Plus every sensible translation of ll_CC, including the one used in android, does that. If y'all can neither get what a "country or region" is nor understand a status quo I don't think you should engage in a political topic just yet.

[2019-10-07 20:01] bcoe commented on #191
@Artoria2e5 I do not have the background to know how to address this topic. I would like us to opt for whatever prefix is most respectful to every person involved.

@Rwing, @Artoria2e5, would you be open to sending a PR?

[2019-10-08 00:49] Rwing commented on #191
This is only my private opinion, the language should focus on 'language' not country. Maybe you can chang the language code from zh-cn/zh-tw to zh-hans/zh-hant.

[2019-10-08 03:10] Artoria2e5 commented on #191
Again, the distinction between zh-tw and -cn and -hk -and -sg/my is not limited to the hans/hant script difference. Saying x體中文 does not encapsulate the difference encapsuled in local phrases and expressions.

[2019-10-08 09:03] damianopetrungaro commented on #191
@Artoria2e5 any suggestion?

[2019-10-08 17:04] bcoe commented on #191
@Artoria2e5 given you already have a PR open improving translations, perhaps we could also move into a language code with a suffix, away from `zh`?

[2019-10-10 11:39] damianopetrungaro commented on #165
@jasonkuhrt wanna open a PR about this?
It sounds good to me :)

[2019-10-11 00:29] zeke commented on #199
Hey again. Thanks for chiming in @bcoe. The bot is indeed designed to follow the spec as closely as reasonably possible, so I think this org is probably the best home.

Not a lot of feedback but based on your comment and the emoji reactions, it doesn't look like anyone's actively opposed to the idea. I'm a member of this org but not an owner, so I can currently make the transfer. Maybe I have owne

[2019-10-11 07:12] Artoria2e5 commented on #191
We are already doing a suffix.

[2019-10-11 12:04] jasonkuhrt commented on #165
@damianopetrungaro Will do!

[2019-10-11 22:34] bcoe commented on #199
@zeke you're an owner now, perhaps we can rope you in to editing the spec going forward too :laughing:

[2019-10-22 20:06] CrispyDrone opened #216 "Confusion about the extent of feat"
Hello,

When I implement a new feature, it might be necessary or natural to also:
+ refactor something to be able to support the new feature
+ update documentation about the new feature
+ update a build definition
+ write more tests
+ change code formatting

Currently the general trend is to squash merge features (#38) to have a clean commit history. However this means, that all of my carefully cr

[2019-10-23 11:47] damianopetrungaro commented on #216
You can still merge a PR with multiple commits (not squashed) in order to have all your commits in place right?
Am I missing something?

[2019-10-23 13:02] CrispyDrone commented on #216
Hi,

Thank you for your response.

I'm sorry my question wasn't that clear. It wasn't necessarily about having a pragmatic solution, there are different solutions out there.

My question is more about the extent of the `feat` commit type according to the specification and what the specification seems to recommend i.e. separating commit types as much as possible.

To me it seems that `feat` can qui

[2019-10-23 13:42] JeanMertz commented on #216
To me `feat` represents something that adds _"customer" value_ to your code, so even though you might also add documentation, do some refactor work, and add tests to validate a new feature, all of which are part of the bigger unit of "all things required to get this in a shippable state", those are not part of the `feat` commit(s).

The GitHub PR (or whatever mechanism you are using) is which comb

[2019-10-25 10:31] CrispyDrone commented on #216
Hello,

Thank you for your response.

It has helped clarify the intent of the `feat` commit. I think that I will indeed have to reconsider the automatic squash based pull requests workflow, while also promoting the separation of commits as much as possible.

[2019-10-25 10:31] #216 closed

[2019-11-27 16:40] hdevalke opened #223 "accepted characters for type and scope"
This is the definition of type and scope:

It is unclear to me what are the allowed characters of a noun. Is it limited to ascii word characters, can it have numbers, underscores, dashes?

[2019-11-28 05:10] tunnckoCore commented on #223
Good point. I guess everything is allowed. It can be seen that some add the package name in the scope like `fix(@scope/pkg-name): foo bar`, so..

In javascript land, it's probably easy to guess that what's supported as `name` that's supported as scope.

But yea, good question, I'm wondering almost every time, haha.

[2019-11-29 00:21] bcoe commented on #223
@hdevalke @tunnckoCore what if we use the term `identifier` rather than `noun`, and then explicitly define this?

[2019-12-01 14:55] hdevalke commented on #223
@bcoe That would be better indeed. Maybe a formal grammar of conventional commits could be helpful as well, see [semver.org](https://semver.org/#backusnaur-form-grammar-for-valid-semver-versions).

[2019-12-10 12:33] mekwall commented on #38
@damianopetrungaro But what if you don't work with feature branches? I mostly do [trunk-based development](https://trunkbaseddevelopment.com) and [commit directly to the master branch](https://trunkbaseddevelopment.com/committing-straight-to-the-trunk/).

[2019-12-12 17:56] glenwinters commented on #38
@mekwall In trunk-based development, each commit is expected to not break the build. If you're in the middle of your work and need to save where you're at quickly, pushing to a branch is a good solution. If your commit doesn't break the build but you're not ready to release the change, you could hide it behind a [feature flag](https://trunkbaseddevelopment.com/feature-flags/).

[2019-12-21 04:27] togakangaroo commented on #38
I don't see how feature flags are an answer here, it seems like an unrelated point. Whether you use them or not, does not give you an answer as to what commit type to tag things with

[2019-12-21 05:56] glenwinters commented on #38
@togakangaroo He asked for a solution when committing directly to the master branch. It doesn't make sense to indicate WIP in a commit on the master branch because it should be working and that commit is permanent. However, if you want to commit something but hide it from users until you finish some other things, then feature flags are a solution to that.

[2020-01-14 09:42] mekwall commented on #38
@glenwinters A work-in-progress commit doesn't necessarily (and with trunk-based development it shouldn't) break the build. Just because something is being worked on doesn't mean it is broken, it's just not done as per definition of done. I definitely agree with you about hiding it behind a feature flag though, but that doesn't really answer my question.

Another scenario of where work-in-progress

[2020-01-16 06:16] gabrielf opened #229 "refactor example isn't a refactor"
The [example of a refactor](https://www.conventionalcommits.org/en/v1.0.0/#commit-message-with-both-and-breaking-change-footer) is

But is this really a refactor? I guess people have slightly different definitions of refactoring but Wikipedia says (emphasis mine):

With that definition you cannot have a refactor commit that also contains a breaking change.

I think the example should be changed to

[2020-01-16 22:16] stevemao commented on #229
I agree this is not the best example. And previously you couldn't include breaking changes in refactor but we loosen the rule a bit. Maybe we could write a better example of refactor and use either `feat` or some custom tag to demonstrate `!`

[2020-01-20 19:42] akaguny commented on #38
Yes, but if i want to integrate the commit hook with conventional checks my commit hook will be broken the commit.

[2020-01-20 22:40] stevemao commented on #38
I think you should bypass the commit hook in that case

[2020-02-10 05:08] hungdoan-groove commented on #200
Vote up to support the "feature" type as well.
The "feat" confuse me for the first time because there is no naming rule here. Why don't we use abbreviation for Breaking-Change but feature ?.  If we decide to go with abbreviation, we should use abbreviation for all type (say 3 characters code)
Otherwise, use a full English word as we are introducing "human readable meaning to commit messages".

[2020-02-10 05:09] hung-doan commented on #200
Vote up to support the "feature" type as well.
The "feat" confuse me for the first time because there is no naming rule here. Why don't we use abbreviation for Breaking-Change but feature ?. If we decide to go with abbreviation, we should use abbreviation for all type (say 3 characters code)
Otherwise, use a full English word as we are introducing "human readable meaning to commit messages".

[2020-02-10 11:10] tunnckoCore commented on #200
I guess that's why we introduced `!` thing... that I still don't like it's place.

[2020-02-11 22:33] damianopetrungaro commented on #200
If there's this demand we can support `feat` and `feature`.
I personally don't see a big use case for it, but I am open to discuss it :)

[2020-02-21 10:38] dagadbm opened #234 "Adding ticket links (jira ids/git lab ids etc)"
How would you guys go around still using conventional commits AND also allow to insert the ticket jira id the commit is associated with?

in what part of the commit structure would this go?

[2020-02-21 11:08] damianopetrungaro commented on #234
Hey @dagadbm I do it every time actually!
You can use the footer to link the Jira issues :)
An example (just fill it with real content 😂 ):

[code]

[2020-02-21 14:37] zakkak opened #235 "git template implementing conventional commits"
Hello,

I just wanted to mention that providing a git template like [this one](https://gist.github.com/Linell/bd8100c4e04348c7966d) would significantly lower the entry barrier for command line users.

What are your thoughts?

[2020-02-21 14:48] tunnckoCore commented on #235
Maybe :)

[2020-03-11 20:55] mark-rushakoff opened #238 "Letter case for description"
It looks like conventional commits do not explicitly specify whether a description should begin with an uppercase or lowercase letter, although all the examples appear to begin with a lowercase letter.

Could the next revision recommend that the description starts with a lowercase letter? Something like:

[2020-03-12 08:35] rnc opened #239 "Title length"
In
[code]
does the first line have a maximum length? I can't see it anywhere in the specification.

[2020-03-13 11:22] runofthemillgeek opened #240 "What prefix to use for visual/content changes?"
I have two questions here:

1. For content changes that involves purely the change in text/i18n texts, what prefix makes sense? Such changes, IMO, shouldn't warrant "feat". The closest I've seen is "docs" but um, that doesn't seem logical.
2. For style changes (e.g. color, font-size etc.), does it count as "feat"? I used to initially confuse "style" with such changes but realized later that it con

[2020-03-15 20:20] damianopetrungaro commented on #239
It doesn't have a min length since it is up to the project owner to set a limit.
Most of the toolings have a restriction tho.

Do you think it'd bring benefit adding a max length?

[2020-03-15 20:22] damianopetrungaro commented on #240
It depends on the point of view of the commit.

If the change introduced, for example, new language support to the i18n then it'd be a `feat`, otherwise, it may also be a `fix` if there's typo.

And the same principle is valid fot rhe second one as well :)

[2020-03-15 20:24] damianopetrungaro commented on #238
IMHO there isn't a benefit of putting it on the specs itself.
But I'd 👍  a line saying "it is cool to use both, but try to be consistent if possible".
What do you think?

[2020-03-16 12:00] sangeeth96 commented on #240
@damianopetrungaro Understand how it _can_ be a `feat` for i18n changes but if it's merely copy change that involves say a tone change and if I'm using tools like semantic release, that'd mean a major version bump and I think that's a little too much. What are your thoughts on that?

[2020-03-16 12:51] damianopetrungaro commented on #240
You may also use improvement as type.
But from my point of view it is fix/feat or chore if it is not code related :)

[2020-03-16 12:56] ArisKallergis opened #246 "Fixed type lengths [suggestion]"
I'm not really sure if I should be posting a suggestion here, I'm sorry in advance if I shouldn't!

It was bothering me that types didn't have a fixed length, because I had to zip around to look at the actual commit messages. I propose for types to be exactly 3 characters, followed by a colon, followed by a whitespace. Furthermore, I find that I like types being all-caps, allowing for messages to

[2020-03-18 11:34] rnc commented on #239
Depending upon how the change log is generated it _might_. But equally I think the specification should be clearer and explicitly state whether there is a maximum length :-)

[2020-03-18 14:49] damianopetrungaro commented on #246
Hey @ArisKallergis thanks for opening an issue!

Personally I do not see a high value in introducing it as standard in the specs since the tooling around it should also have to implement it, and, it is not a hard tech solution to iterate over the bytes of a string until there's a `:`.

To clarity: since the specs allow you to define your own custom type it's totally fine to define custom one as yo

[2020-03-19 16:57] soullivaneuh commented on #88
What is the state of this issue?

Personally, I just used the `git revert` command, leaving the original message and the release process works well:

![image](https://user-images.githubusercontent.com/1698357/77093261-09cf8180-6a0b-11ea-9f15-372f13c29718.png)

[2020-03-24 19:09] rikhoffbauer commented on #38
To me it would be valuable to have some sort of standard way of describing a WIP commit on feature branches, though I agree WIP commits on the `master` branch don't make sense.

Though I am not sure if this is out of scope for Conventional Commits.

An arbitrary scenario I can imagine is working on an issue together with a colleague (pair programming) and at the end of the day wanting to commit (a

[2020-03-24 23:07] damianopetrungaro commented on #38
Again @rikhoffbauer a WIP commit it is just a "ghost" of a commit that is going to be merged.

What I do personally do is create a WIP pull request, and push the commit without any "WIP".
Once I've done all the changes needed, I remove the WIP from the PR title.

Let me try to act like the bad cop: What is the _objective_ benefit of this feature?

[2020-03-25 04:55] rikhoffbauer commented on #38
@damianopetrungaro

To me the objective benefit is being able to communicate clearly what the effects/impact of every commit is using its message at any point in time.

I believe having a standard vocabulary for indicating a commit contains code that isn't finished yet provides developers that read the git log with valuable information.

To me it doesn't matter that the WIP commit (and its message

[2020-03-25 05:46] damianopetrungaro commented on #38
Why not having a WIP merge request then?

It sound way more reasonable to me and Gitlab uses already this format as well.

You can define a WIP merge request and have always clean commits.

[2020-03-25 05:54] damianopetrungaro commented on #38
And also you may split your work in different commits that you are gonna change later on (rebasing them and fix them up).
You may have a section already part of the specification to split the different chenges affecting one component.
Example:

fix(email): remove nil pointers
fix(customer): remove nil pointers

Or if you're not working in different sections but in a single one you can still specif

[2020-03-27 16:20] vviotto commented on #38
One of the reasons to use a commit convention is to automatically bump versions and generate a change log in CI/CD.

Lets say for example that we have feature A, B and C already on the master branch (assuming a trunk based development).
Now lets say that management requested a new release for today, for whatever reason (It could be a simple case of competition, releasing first etc).
Everything is

[2020-03-28 23:24] pushred commented on #240
Personally I use `refactor` from the Angular convention types for these changes. Since they are purely visual and lingual in nature they don't affect `feat` if they are changes to something that already exists. If there's an accessibility issue or a typo, `fix` can be warranted. Otherwise it's just iteration similar to code refactoring. It's a change but it doesn't affect functionality.

[2020-04-02 23:37] wincent commented on #200
I don't like the idea of having more than one way to indicate something is a feature. In fact, I'd say that I don't like the idea of having more than one way to specify any given Conventional Commits type.

Given that it is a breaking change, and a bunch of tooling in the ecosystem will have to be updated to support the alternate, I think the bar for justifying the breakage has to be pretty high.

[2020-04-03 12:30] cgatian opened #253 "referencing issue in footer"
The spec doesnt call out where a referencing issue should be noted. By convention this is typically added to the footer.

Am I missing something? The beta contains an example, but the spec doesn't call it out.

[2020-04-10 22:24] lppedd commented on #234
@damianopetrungaro the problem is you're not following the specification for the footer, which requires a `: ` separator

[2020-04-10 23:15] damianopetrungaro commented on #234
@lppedd where is it mentioned in the spec?
It isn't specified as far as I can see

[2020-04-11 00:23] lppedd commented on #234
@damianopetrungaro yeah you're right. It's only for `BREAKING CHANGE`.

OT: so basically the body can be only one paragraph, without empty lines in between? All what comes after is a footer?
Let's say we have the example

[code]

And we remove the `: ` from the footer.
How do we discern it from the body?

[2020-04-11 00:51] lppedd commented on #234
@damianopetrungaro the spec did mention it, see https://github.com/conventional-commits/conventionalcommits.org/pull/185/files

The site is messed up to an old version now. Damn I got scared as my tool needs to adhere to the spec.

[2020-04-11 01:16] damianopetrungaro commented on #234
@bcoe can you take a look about the last comment?

[2020-04-17 12:24] jacek-jablonski opened #259 "What about different commit types and then squashing and merging?"
Hi!

How does different commits with different message types relate to later squashing and merging?

History on branch looks like:

1. fix: something
2. docs: add to docs
3. feat: added feature A

Later during squash and merge should I create completely new summarized message ignoring f.e. `docs:` or `fix:`?

[2020-04-20 11:40] damianopetrungaro commented on #259
You should not squash merge 3 commits meant to solve 3 different problems.
You can use 3 pull request each one with 1 commit, or 1 pull request with 3 commits, both of them without squashing commits :)

[2020-04-20 13:33] damianopetrungaro commented on #200
On a more wide scenario replying to @jskeet it is all about context.
In each context, a specific word may have its own meaning and even a 1 letter word may have a strong meaning.

A concrete example the Go language where is really common to use a [1 char letter for variables](https://talks.golang.org/2014/names.slide)
Given the code below code, if you see `c` what may it be representing:
[code]

T

[2020-04-20 13:55] jskeet commented on #200
Absolutely. And the benefit of "feature" is that you don't need any additional context in order to understand it. Anyone reading a commit line starting with "feature" is likely to know what it means *even if they have never heard of Conventional Commits*. I view that as a good thing. Yes, anyone who decides to read the Conventional Commits spec will understand it quickly - but why require that, wh

[2020-04-20 14:47] wincent commented on #200
The spec isn't 1.0 final yet, so obviously it's not correct to say that there literally "can't" be any breaking changes. But I honestly think that that's a technicality of semver which is distracting us from something really important. Even if it *were* 1.0 final, it *still* wouldn't be correct to say you "can't" make breaking changes, because of course you could: just say, "let's make the change

[2020-04-20 14:54] jskeet commented on #200
Regarding the consistency of "feat", "perf" and "docs" - I'd say that "perf" and "docs" are very, very widely used abbreviations within developer communities. I can't recall ever seeing "feat" as an abbreviation for "feature" before Conventional Commits. That's not to say it's not out there, but I believe it's massively less widely used than "perf" and "docs".

Regarding line lengths: point noted,

[2020-04-20 15:05] damianopetrungaro commented on #200
OT:
_Actually the v 1.0 has been released a while ago, probably one of the lastest commits removed it from the config entry 😂
SLO to a new level_

[2020-04-20 15:07] jskeet commented on #200
Oh, well if 1.0 has already shipped, it's too late. That makes me sad, but I'm not sure I was going to convince anyone anyway.

[2020-04-20 15:10] jskeet opened #260 "Web site doesn't show 1.0.0"
As noted in #200, version 1.0.0 of the spec has shipped. The [content is even present](https://github.com/conventional-commits/conventionalcommits.org/tree/master/content/v1.0.0).

Unfortunately, https://conventionalcommits.org redirects to https://www.conventionalcommits.org/en/v1.0.0-beta.4/, and https://www.conventionalcommits.org/en/v1.0.0 gives a "page not found".

Hopefully this is a simple

[2020-04-20 15:11] jskeet commented on #200
(I filed the issue as if I got confused by the lack of 1.0.0 on the web site, others might too.)

[2020-04-20 15:25] damianopetrungaro commented on #260
Fixed on #261
Still missing where it got deleted tbh 👀

[2020-04-20 15:25] #260 closed

[2020-04-20 15:33] damianopetrungaro commented on #200
I do really like your argument @jskeet but still not fully convinced.
And anyway nothing will block us to release a v.2.0.0 is the community thinks it makes sense!

I never meant to. I meant that the number of people asking for clarification is really low (~0.4% or sth like that? I did the math in mind so I am not sure about it)

This is probably where we do disagree, I think the context for `feat

[2020-04-20 16:26] bcoe commented on #200
@damianopetrungaro @jskeet for an additive change like accepting "feature", I agree that we could add this in `v1.1.0` of the specification, and should.

The only reason we haven't is there's a long standing PR that removed support for `feat:` rather than adding the new option `feature:`, I suggest we politely close this, and move forward with the decision in this thread.

[2020-04-20 16:29] damianopetrungaro commented on #200
Which decision?
As far as I can see there's some debate about it

[2020-04-20 17:33] wincent commented on #200
@jskeet

No it is not.

- "BREAKING CHANGE" appears in the commit *footer*, which can occupy as many lines as you want. Its size is irrelevant to any subject line length limits.
- Even if the length of "BREAKING CHANGE" were a problem, I'd still be saying we shouldn't make breaking changes lightly, and that includes not changing "BREAKING CHANGE" to "BREAKING".
- In the case of "BREAKING CHANGE",

[2020-04-20 17:43] jskeet commented on #200
Point taken about the BREAKING CHANGE - my mistake, sorry about that.

In terms of making breaking changes - it would be a matter of "All existing tools support Conventional Commits 1.0.0. Repository X uses Conventional Commits 1.1.0, so will only work with tools supporting that." That sort of "depending on newer versions" is certainly common within languages, of course - we don't say that languag

[2020-04-20 18:04] wincent commented on #200
Let me give you a concrete example of what this change would mean for me (just one data point).

At my job we have about a dozen repos currently following Conventional Commits and using [the Semantic Pull Requests bot](https://github.com/zeke/semantic-pull-requests); if you make this change:

- The [conventional-commit-types package's list of types](https://github.com/commitizen/conventional-commi

[2020-04-20 18:34] jskeet commented on #200
I suspect that no-one's convincing anyone to change their mind about whether this is worth doing or not, so I'm going to bow out of the conversation at this point. I'm glad this was a good-natured discussion despite the large gap in opinions though - I've seen far more heated, negative discussions where contributors come from closer viewpoints to start with.

[2020-04-20 22:37] tunnckoCore commented on #200
Let me jump here again.

Totally understand why some may want `feature` and `Feature`. Okay. But it definitely must not _replace_ the current `feat`. The best approach would be to have a note (or just another point in the list, just after the point of `feat`) saying _"hey, you still can use `feature`, `Feature`, `FEaTu` as long as it starts with `feat` and the parser inside your tooling support it

[2020-04-20 23:26] wincent commented on #200
I think you might be overstating the ease here. Sure, `parse-commit-message` can (already) extract an arbitrary type from a commit subject line, the `conventional-commit-types` package can be updated and released, the Semantic PR bot can pull in the new dependency and redeploy etc; but so will any other tools that have been built on the current spec. The trouble is that the word `MAY` makes it sou

[2020-04-20 23:45] tunnckoCore commented on #200
True. But at the same time, I think that's why I intentionally or unintentionally added the last part "MUST follow" and "the same things MUST apply". Not good wording, definitely, but I think we get the idea. The idea is exactly what you're saying.

CC is in an interesting position. It's a spec for both the tool authors and for the regular users which is just writing commits.

[2020-04-21 09:21] wincent commented on #200
`<maybe-offtopic>`

Is it that different from a spec like [ECMA-262](http://www.ecma-international.org/ecma-262/)? That's a spec for people to who write JS, and for people who make JS engines. (Obviously the scope and detail is a bit different, but I think it's actually pretty common for specs to address both tool-users and tool-makers.)

`</maybe-offtopic>`

[2020-04-21 14:23] matu3ba opened #263 "RFC Specify issues for better design choices"
I do very much like your choices for commits, but I am missing a convention/specification for issues.
Below is a combination of bug/rfc that is common in project structures open for comment.

Reason: estimation of cost (maintainability vs gain) is underspecified for technical reasoning in the merge commit

Context: Merge commits tell you nothing about the technical basis of the decision to the cod

[2020-04-21 14:33] matu3ba commented on #263
Aside I noticed you have no fields for the meaning `usability` and `maintainability`, which are essential to code bases.

[2020-05-02 23:52] epage opened #267 "Conformance test cases"
I'm maintaining a parser but having to rely on hope that I read and interpreted the spec correctly (for example, `BREAKING-CHANGE` is in all caps but it seems like it could be lower case).

It would be helpful to have a set of conformance tests.

One idea is a data file that has a list of commit messages and parsed fields (with `None` for missing optional fields).  Each language's parser can then

[2020-05-03 21:55] #259 closed

[2020-05-04 17:20] samuelpetroline commented on #38
The debate on whether you should ignore or not, commit or not depends on the context of each development team. If you think it makes sense for you, here is a quick solution:

https://stackoverflow.com/questions/60194822/how-do-you-configure-commitlint-to-ignore-certain-commit-messages-such-as-any-th

[2020-05-06 23:01] bcoe commented on #267
@epage I like this idea 👍 and I think it fits with the direction I'd love to see us going in.

[2020-05-06 23:08] bcoe commented on #200
also `<maybe-offtopic>`, but I think somewhat in line with @wincent's point.

✋ this thread has drilled home for me the fact that our approach to evolving this spec isn't working great at this point. Conventional commits now has a lot of stakeholders, which is awesome!, but it makes it hard to come to consensus in a thread like this.

I haven't figured out how to approach it yet, but I would like

[2020-05-21 19:54] ghermeto opened #269 "mono-repo support"
@bcoe @wesleytodd  I would like to [restart this discussion](https://github.com/conventional-commits/conventionalcommits.org/issues/118) in a more holistic way.

As I have been working more and more with mono repos, I feel the representation is lacking.  My concern is less about `CHANGELOGS` and more when visually inspecting a commit log, I can't determine which package change. I have to look at t

[2020-05-24 13:42] b4nst opened #270 "New tool proposal"
Hello there,

I've built a tool called [turbogit](https://github.com/b4nst/turbogit) to help developers to follow the conventional commit specification. I would be interested in making a PR to add it in the [Tooling for Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/#tooling-for-conventional-commits).

Would you mind checking it, and tell me if that would be ok ?

[2020-05-28 23:48] djgilcrease commented on #269
I just use the scope section to denote which project the change applies to in a mono repo

[2020-06-04 21:32] Kradirhamik opened #273 "PT-pt language"
Hi,

I'm interested in helping to add with PT-pt localization.

[2020-06-07 02:06] karol-depka opened #275 "feat(website): Add favicon-s"
![image](https://user-images.githubusercontent.com/958486/83958623-365da180-a874-11ea-94e9-d69c7c581e06.png)

I can do it.

[2020-06-07 14:02] vjpr commented on #269
Firstly, a big advantage of monorepos is atomic commits (having one commit update multiple packages). For this reason, placing the affected packages inside the first commit line is untenable.

In a company monorepo I have multiple projects each with multiple components. For example, for `project-a` I might have a web app and a react-native mobile app.

I mirror open-source code publicly using `git

[2020-06-08 10:06] damianopetrungaro commented on #263
Hey @matu3ba I'd suggest you create a new project for that since conventional commits have as main focus fixing commits and not PR or bugs.

Sorry for not being able to help you on that <3

[2020-06-08 10:06] #263 closed

[2020-06-15 19:54] ashton opened #278 "breaking change does not bump major"
Hello! I'm using lerna version with --conventional-commits option, and following the description on your website for a breaking change, copying and pasting the same commit message does not generates a major bump:

![image](https://user-images.githubusercontent.com/95974/84699961-d24c7480-af28-11ea-9e1e-07f21bd620bd.png)

![image](https://user-images.githubusercontent.com/95974/84700026-ea23f880-af

[2020-06-19 16:57] karol-depka commented on #78
Please use `improve`; much shorter than `improvement` while still an *english*word* with its own clear meaning. Please don't play this game of crazy abbreviations. `Imp`, for example, can stand for so many different things, including `implementation`, it's scr*wing with your brain. Shock Minimization Principle. Imagine someone new coming to a project and seeing a bunch of `imp` (implementation?) o

[2020-07-01 06:43] isotopeee commented on #240
Thanks @sangeeth96  for raising this issue. I'm confused about this too. I intermittently use `chore` and `refactor` too, but I guess `refactor` makes sense for both cases.

[2020-07-13 10:47] Zerotask opened #281 "Add recommended type "ui""
In the current definition I'm missing a type for UI related changes, e. g. changed the color of a button.

There is a style type, but that is rather meant for coding styles

(From Angular's convention)

I'm aware that you can define your own types and they're just suggestions ("commit types other than fix: and feat: are allowed, for example (...)"), but for me and for many projects **UI** is somet

[2020-07-13 10:55] Zerotask opened #282 "Add commit type recommendations with examples as an own block"
At the moment there are just the 2 mandatory commit types **fix** and **feat**. Personally I also follow the recommended other commit types from point 4

There is an external link to the Angular convention which shows a better overview of the recommended commit types.

![grafik](https://user-images.githubusercontent.com/20150243/87296909-d65bba00-c507-11ea-9f45-3522f5d7a534.png)

My suggestion is

[2020-07-13 18:58] bnb opened #283 "add full list of potential values for "type", with descriptions"
I consistently want to use conventional commits. I generally partially use it rather than fully using it though, using a subset of the types. I can't consistently or easily find all the potential types, so I use the ones I know that are descriptive.

It would be wonderful to get a full list of the types, what they mean, and when they should be used.

[2020-07-16 00:10] damianopetrungaro commented on #283
This is a good one tho.
I think this https://github.com/streamich/git-cz#custom-config may be a good starting point.

Do you have any other type you use @bnb ?

[2020-07-16 00:11] damianopetrungaro commented on #282
Looks like #283
We can discuss it there tho :)
Love this one tho, amazing idea @Zerotask !

[2020-07-16 00:11] #282 closed

[2020-07-17 09:10] SuperOleg39 commented on #253
Same question, i write some code for build link to issue from commit, and find to many variants to parsing:

Closes #ISSUE  / closes #ISSUE / Closes ISSUE / closes ISSUE / Refs #ISSUE  / refs #ISSUE / Refs ISSUE / refs ISSUE /  Fix #ISSUE  / fix #ISSUE / Fix ISSUE / fix ISSUE  /  Fixes #ISSUE  / fixes #ISSUE / Fixes ISSUE / fixes ISSUE

[2020-07-17 09:17] ndabAP commented on #38
I came across this and agree with @rikhoffbauer. Time shouldn't be a factor for technical communication: Why is the duration between the WIP commit and the squashed state not relevant?

Imagine writing `feat: add login` but you only added the files and it's a WIP. What a miss communication for all other developers. I'm not looking into all commits I see. We are usually working in a collective. I t

[2020-07-21 11:16] erdaltsksn commented on #235
https://github.com/erdaltsksn/dotfiles/blob/master/git/.gittemplate

This is my template used by all of my repositories.

Also you can add my [Vim](https://github.com/erdaltsksn/dotfiles/blob/master/vim/ftplugin/gitcommit.vim) plugin to start Git commit in insert mode and make the color red when the line is too much.

[2020-07-21 12:07] erdaltsksn commented on #246
I have a little different approach about this. I use four-letters types, but there is exception for `fix` so it is easier to spot the fixes.

In my dotfiles, you can find an example [commit template](https://github.com/erdaltsksn/dotfiles/blob/master/git/.gittemplate) with a [Vim plugin](https://github.com/erdaltsksn/dotfiles/blob/master/vim/ftplugin/gitcommit.vim).

[code]

<img alt="Screen Shot

[2020-07-21 21:06] damianopetrungaro commented on #235
We can discuss more about this here #283 , so we can hava goal of adding a template as well ;)

[2020-07-27 08:52] SirWindfield commented on #253
As you said, by convention. Nothing holds me back from adding it to the body. It makes sense to include metadata about commits inside of footers. It's a separation of concerns.

The spec just defines how the parts are delimited and what type of content is allowed (e.g. body is everything, terminated with a footer token word plus a separator). What you make out of it is up to you.

[2020-07-27 08:55] SirWindfield commented on #281
The specification is not here to define every single possible type. The mandatory types to make semantic versioning work are defined as `feat` and `fix`. This, alongside of the definition of breaking changes, allows people to create consistently versioned projects.

The rest is kind of irrelevant. You can define your own types, heck, you can even use emojis for them. Conventional commits just defi

[2020-07-27 08:57] SirWindfield commented on #278
Shouldn't this go into the repository of the tooling instead of the specification?

[2020-07-27 08:58] SirWindfield commented on #223
If we're already there: What about any valid unicode character that is not ')'? So for example, Japanese, Korean etc. would work as well. Numbers are included, emoji. It just has to terminate with a `)` and does not contain newline characters 🤔

[2020-07-27 09:55] Zerotask commented on #281
I just suggested one additional type, not _every single possible type_. Also I know the mandatory types and as I said I'm also aware that I can define my own types.

As I already stated above, many projects have UI elements and therefore it would be a good addition to add it as a **recommended type** (NOT a mandatory type). This would add value. It would add a more specific and informative descrip

[2020-07-27 10:15] SirWindfield commented on #281
My post is in no way destructive, I just pointed out my own opinion. Conventional commits are also used for applications that do not have any UI whatsoever. However, the other types that are recommended fit into every kind of project. UI is too specific IMO. You are free to add anything to your own projects as a type, but I think that those given as an example should fit every project. And `ui` de

[2020-07-27 10:49] Zerotask commented on #281
For me it sounds destructive as your post doesn't add any value to this suggestion. This isn't meant to be unfriendly, this is just how I declare it, objectively. If you feel offended by me, I'm sorry. This was not my intention.

Personally if I don't like a suggestion, I simply ignore it (if I'm not a member of the project) and if I strongly disagree with it, I simply put a thumb down.

There are

[2020-07-27 11:51] damianopetrungaro commented on #281
@Zerotask I don't see the value of adding it, probably you're looking at the specs from the wrong point of view.

Let's say you change the color of a button, but how applying that commit is going to affect the codebase?
Is it gonna add a new feature because blue is better than red? Is it gonna fix an issue because the hex used was the wrong one?

Alos, "ui" is too close to a specific kind of devel

[2020-07-27 12:06] SirWindfield commented on #281
@damianopetrungaro
I think we argued the same in the last paragraph, you phrased it better than me though! :)

[2020-07-27 12:09] damianopetrungaro commented on #223
Good point on @SirWindfield

[2020-07-27 12:14] SirWindfield commented on #223
The same could be applied to the type, however, that does bring up the question: What about `fix` and `feat`? Should they be translated into other languages as well? For example, Japanese does normally not use our alphabet letters. How would those languages get handled?

Or would `fix`, `feat` be "locked in" into English as they are right now? :)

[2020-07-27 12:33] damianopetrungaro commented on #281
Since we are arguing I'd say it's not objective

The reason why CC was created is because of deployment automation and reasonable benefit understanding the impact of each commit within the whole git history, this leads to the reason why fea/fix and BC are the only "official" naming and all the others are optional.

Also, let me help you to reinterpret your last point:

This means that nothing is b

[2020-07-27 12:35] #281 closed

[2020-07-27 12:43] damianopetrungaro commented on #275
Yes, please! I'd love it!
Are you on it @karol-depka ?

[2020-07-28 07:51] ben-mckernan commented on #260
Does this need to be reopened? I'm getting 404 on https://www.conventionalcommits.org/en/v1.0.0 again.

[2020-07-28 07:53] damianopetrungaro commented on #260
Yes please, let me take a look ASAP

On Tue, Jul 28, 2020, 09:51 Ben McKernan <notifications@github.com> wrote:

[2020-07-28 14:02] tunnckoCore commented on #223
@SirWindfield yea, I think that they definitely should be locked. I see CC as _conventional standard_, not _a framework_. The difference is that in "conventional standard", there're some locked things and terms, and rules, a convention. If you look at it as "framework" it just draws some frame and suggestions and allows _interpretation_ (in this case different language).

The beauty in the softwar

[2020-07-28 14:09] SirWindfield commented on #223
Good points @tunnckoCore!

I do agree on the lock, I just wanted to gather other opinions :) That being said, is there some RFC process involved for making changes to the specification (or maybe something like "extensions"). The "unicode" extension for example 🤷 :D

[2020-07-28 20:30] tunnckoCore commented on #223
I think there's no RFC process, but we are commenting/voting/sharing our thoughts on the issues and PRs, plus the other members have a higher view on the community users even outside the JavaScript.

[2020-07-29 14:04] karol-depka commented on #275
Hi.
Cool.
Can You provide some graphics / logo?
Ideally in vector format, ideally in svg.

[2020-07-29 14:08] karol-depka commented on #275
Or should I make some graphic for favicon?

Idea: CoCo (from Conventional Commits) e.g. in colors/style of a coconut. Just an idea, not sure if not too cheesy/fancy ;). Plz lmk.

[2020-07-29 14:09] karol-depka commented on #275
For square favicon, 2 line layout:

Co
Co

[2020-07-29 14:10] karol-depka commented on #275
Possible variatios of second line being rotated/mirrored for symmetry and fanciness. Plz lmk how fancy/simple we want it to be :).

[2020-07-29 14:11] karol-depka commented on #275
Or ConCom

Con
Com

Ehm but would look/sound too much like C*ndom ;)

[2020-07-29 14:15] karol-depka commented on #275
@damianopetrungaro or You want to use the circle logo as on https://github.com/conventional-commits
?

[2020-07-29 14:16] karol-depka commented on #275
In any case, You can assign me to this issue.

[2020-08-09 18:02] damianopetrungaro commented on #260
Looks like it is solved, sometimes the build is not idempotent.
I need to debug HUGO for that (or the theme), thanks for letting me know!

[2020-08-10 15:27] damianopetrungaro commented on #275
Assigned :)

[2020-08-10 15:28] damianopetrungaro commented on #275
I think we may use the same circle we use for the github org! @karol-depka

[2020-08-12 03:57] bcoe opened #291 "deploying website is currently broken"
Deploying the latest version of the website breaks link to `v1.0.0`.

[2020-08-12 08:25] damianopetrungaro commented on #291
@bcoe which one is broken?

[2020-08-14 07:44] angie commented on #137
@longility did you ever come up with a nice convention? Facing the same problem on my current project.

[2020-08-18 01:28] bcoe commented on #291
@damianopetrungaro I did a bisection at one point, I will need to dig it up. It's a change that shouldn't break anything, so I'm pretty convinced it's something broken in HUGO not anything  we landed.

[2020-08-18 01:31] damianopetrungaro commented on #291
Nice, let me see if you identify something I know quite well Go and I (we) may submit a PR to HUGO as well

[2020-08-18 01:34] bcoe commented on #291
@damianopetrungaro it seemed like when we deployed [this version of the site](https://github.com/conventional-commits/conventionalcommits.org/commit/9807d999af7cbc8778bc0bb274324f64d612e1a7) we suddenly stopped rendering `v1.0.0`.

I have the deploy pinned to an older version right now.

[2020-08-19 12:46] longility commented on #137
@angie I did not. However, we may be able to brainstorm together. My first questions and thoughts would be...

Do you need to generate a changelog, derive a changelog, or the intent is to have meaningful and consistent commit messages?

I can see us using `feat` or similar on the commit that makes a feature publicly accessible, and `wip` when not publicly accessible in order to be able to filter o

[2020-08-24 08:28] angie commented on #137
@longility my team uses a https://github.com/semantic-release plugin to generate a changelog, but meaningful and consistent commit messages are also a consideration.

For now, we extended the `type-enum` in our commitlint config to allow the `wip` type, as per your previous comment. 🤞

[2020-08-24 13:19] damianopetrungaro commented on #137
@angie do you merge "wip" commits into the master as well?

[2020-08-25 07:19] angie commented on #137
@damianopetrungaro so far, yes! An example would be working on a new feature behind a feature flag. Any work on that feature would be prefixed `wip` until it became publicly accessible. @longility put that better than me.

[2020-08-25 07:38] damianopetrungaro commented on #137
@angie got it, so my ""issue"" with that approach is that anyway the code you're merging is already on the master branch, and it's a full functional feature, protected by a features but still there.

I'd personally use WIP commit only when I am coding within a PR, before squashing/rebasing the commit history.

Given that this is the main reason the WIP type wouldn't make a lot of sense and I'll co

[2020-08-25 08:00] angie commented on #137
@damianopetrungaro for sure, I feel the same way as you about it for the most part and would prefer for things to work as your example illustrates. Recently we've had a couple of features to introduce which would have spawned really long-lived branches for a couple of reasons, even though we try to avoid that.

A WIP commit in the sense I'm describing is still passing all tests, linting, etc, but

[2020-08-25 08:03] damianopetrungaro commented on #137
Every team has a different need, that's why we kept custom-types in place :)
I'd personally try to change the workflow to be more izipizi but I guess it's hard to change :D

[2020-08-28 03:58] bcoe commented on #291
@chonla thank you for the contribution, this seems worth a shot at least 😄

[2020-08-28 04:02] bcoe commented on #291
@chonla it seems like that's fixed the deployment \o/ thank you.

[2020-08-28 04:02] #291 closed

[2020-09-11 09:25] stoically opened #294 "Should `feat` cover changes to existing features?"
Changing or dropping an existing feature (and as such changing the public API) is not covered by the core spec currently. This leads to confusion around what type to use in this case. Personally I like the definition of "`feat` describes a change _related_ to the public API of a feature"

I'd propose to change

into something that covers "changes or drops an existing feature"

[2020-09-20 15:14] damianopetrungaro commented on #294
@bcoe what do you think?

[2020-09-23 19:42] vlad0337187 commented on #223
Hello.

1. Are points allowed as scope identifiers right now ?
like:
`feat(users.seeds): add admins"

2. Can word `feature` be used instead of `feat` ?
(according to [clause 14 of specification](https://www.conventionalcommits.org/en/v1.0.0/#specification), types other than feat and fix MAY be used in your commit messages, e.g., docs: updated ref docs. )

Thanks.

[2020-09-24 12:49] damianopetrungaro commented on #223
1) YUP! I do it often :)
1) YUP! If you do like more verbose names

Il mer 23 set 2020, 21:42 Vladislav <notifications@github.com> ha scritto:

[2020-09-25 01:01] bcoe opened #296 "October Meeting"
## Proposal

I would like to suggest that we have our first monthly meeting in October, where:

1. start to figure out some governance for this project.
2. divide up some of the work triaging Pull Requests, and commenting on issues.

This issue will be updated with a Hangout link, agenda, and a date/time once we can agree on one.

## Call to action

Join the conventional commits channel in [this c

[2020-09-25 01:05] bcoe commented on #294
Let's start putting the `meeting-agenda` label on issues we think we'd like to discuss on a monthly call.

I [opened an issue](https://github.com/conventional-commits/conventionalcommits.org/issues/296) for us to have a first meeting -- my hope is that getting a few collaborators in a room together, we can better evolve the spec.

[2020-09-25 03:52] damianopetrungaro commented on #296
Created a conventional-commits workspace as well: https://join.slack.com/t/newworkspace-x8l1674/shared_invite/zt-hiebz1qv-EhTZI5kIx6IIcbMc459W3A

[2020-09-25 08:16] damianopetrungaro commented on #296
@conventional-commits/committee FYI ☝️

[2020-09-25 08:20] damianopetrungaro commented on #270
Sure @b4nst all tooling PR are super welcome!
(sorry for the late reply tho, I missed this issue 😓)